[2018-09-04 16:01] giacomov opened #3 "The activate script adds a new entry for fermitools everytime it runs"
... even when the entry is already there.

This is done in the `${CONDA_PREFIX}/etc/root/system.rootrc`, in the initial section like:

```Unix.*.Root.DynamicPath:    .:/Users/cr/miniconda2/envs/st_test/lib/root/cint/cint/stl:/Users/cr/miniconda2/envs/st_test/lib/root/cint/cint/include::/Users/cr/miniconda2/envs/st_test/lib/fermitools/:/Users/cr/miniconda2/envs/st_test/lib/fermitools/:/Users/cr/min

[2018-09-05 14:47] Areustle commented on #3
Which variable do we need to check? $PATH or  "Unix.*.Root.DynamicPath"?

[2018-09-05 15:01] Areustle commented on #3
That checks the $PATH. I'm not sure yet about "Unix.*.Root.DynamicPath"

[2018-09-06 20:18] #3 closed

[2018-10-01 16:14] kialio opened #7 "Doesn't understand fermitools install"
Hi,

If I do this:

I get a 'fermitools command not understood' and I have to install them in the new environment later.

Jeremy

[2018-10-01 16:15] kialio opened #8 "Need ncurses version requirement."
Ncurses needs to be <6.0.  If I have the newest ncurses I get this:

`
In [1]: import pyLikelihood as pyLike
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-99f42f61c6a8> in <module>()
----> 1 import pyLikelihood as pyLike

/usr/local/anaconda3/envs/fermi/lib/python2.7/site-pack

[2018-10-01 16:29] jasercion commented on #7
Since python=2.7 is referencing a specific package to install it needs to be in the same argument block as fermitools.  From what I can tell conda processes all package installation requests at once, so after it read the python=2.7 request in your command followed by a flag it assumed that no other inputs are references to packages to be installed. Either

`conda create -n fermi python=2.7 fermito

[2018-10-01 16:30] jasercion commented on #8
I'll pin this in the meta.yaml.

[2018-10-01 16:34] jasercion commented on #8
Fix branch: https://github.com/fermi-lat/ScienceTools-conda-recipe/tree/ncurses_pin

Once tested I'll merge the change

[2018-10-01 18:47] kialio commented on #7
Ah, yea, that was user error.  I verify that this works:

`conda create -n fermi -c conda-forge -c fermi_dev_externals python=2.7 fermitools`

[2018-10-01 18:47] #7 closed

[2018-10-12 18:20] jasercion commented on #8
@kialio It looks like it is fixed.  Please verify after updating to Fermitools=1.0.0 and if everything looks good I'll close out the issue.

[2018-10-16 11:50] landriu opened #10 "Cannot install fermitools, and could find version1.0.1"
Hello,

   the fermitools cannot be installed automatically in a user
environment .

  I have on my own environment :
 [landriu@sappcfermi] ~ > uname -a
Linux sappcfermi.extra.cea.fr 3.10.0-862.11.6.el7.x86_64 #1 SMP Tue Aug 14 21:49:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

  I am working on a machine were I have no special priviledges and I must
use the provided version of anaconda : anaconda/

[2018-10-16 19:28] jasercion commented on #8
Closing out.  Please reopen if this crops up again.

[2018-10-16 19:28] #8 closed

[2018-10-24 12:46] jballet opened #12 "Larger memory usage in pyLikelihood"
I am testing FermiTools 1.0.0 under linux (el7).
I have noted a large memory usage penalty (650 MB) when using pyLikelihood with respect to the previous Science Tools (my reference is ST 11-07-00).
I have not been able to pinpoint the culprit precisely, but here are a few numbers (taken from the DRS output of the "ps v pid" command), which might help.
In both cases python itself took 135 MB, impor

[2018-10-24 16:39] giacomov commented on #12
It might be a different default back end. Try setting the env variable MPLBACKEND to Agg in both cases before entering python. Does that happen anyway?

On a different note, is the matplotlib version the same in the two cases?

[2018-10-25 07:56] jballet commented on #12
I am using matplotlib delivered with the ScienceTools or FermiTools.
It was version 1.5.1 in the ScienceTools, it is 2.1.1 in the FermiTools.
Setting MPLBACKEND to Agg did not change anything on import matplotlib.

[2018-10-29 17:12] Areustle commented on #12
Assigning to @jasercion.

[2018-11-08 14:22] landriu opened #13 "Optimize the installation of fermitools"
Hi all,

     we need to have multiple versions of the fermitools installed on a dedicated place,
   so comparisons can be made between the different results for each version.

     I tried to use the --prefix option for conda create, writing such command :

       conda create fermitools=1.0.0 --prefix=$NFS_ZONE/fermitools/1.0.0

    and it generates the fermitools package on this place, occupyin

[2018-11-14 10:40] landriu opened #14 "fermitools local installation cannot be moved"
Hi all,

     we use the "--prefix" option when calling "conda install fermitools" as we
  need to keep different versions of fermitools, in different directories to apply
  some tests .

   When we try to move a given fermitools version, by giving another name to the directory,
for example renaming 1.0.0-beta to 1.0.0, we get an error message, when doing "source activate" :

    [landriu@sappcfer

[2018-11-14 10:42] landriu opened #15 "Environment stays after "source deactivate""
When we do "source activate /dsm/saplxglast/glast/fermitools/1.0.0"
 and source deactivate, the environment stays : FERMI_DIR is still the same,
 and executables can still be called :

[landriu@sappcfermi] ~ > which gtlike
/usr/bin/which: no gtlike in (/opt/rhel-7.x86_64/gnu/anaconda/5.1.0/bin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/puppetlabs/bin:/dsm/saplxgla

[2018-11-16 21:07] jasercion commented on #13
Hi @landriu,  I've tried a couple of different methods to implement this in Conda but frankly the Conda system is in no way designed for sharing external dependencies (indeed, the way conda enrvironments are set up it explicitly tries to prevent this from happening.)

We are going to discuss this further at the FSSC but for now your best bet (if saving disk space is critical) would be to compile t

[2018-11-16 21:09] jasercion commented on #14
Have you tried using different conda environments to contain each of the different fermitools versions?  Using those you shouldn't need to move the location of the tools themselves to switch (since you can just activate a different environment).

[2018-11-16 21:11] jasercion commented on #15
It appears that the deactivate script is not actually being called int his case.  Try running `source deactivate` without any path after it and let me know what the result is (same or otherwise).

[2018-11-19 08:54] landriu commented on #15
Hi Joe,

  the behaviour is the same after a  command deactivate without any path :
[landriu@sappcfermi] ~ > source activate /dsm/saplxglast/glast/fermitools/1.0.0
You have LD_LIBRARY_PATH set. This might interfere with the correct functioning of conda and the Fermi ST
(/dsm/saplxglast/glast/fermitools/1.0.0)
[landriu@sappcfermi] ~ > which gtlike
/dsm/saplxglast/glast/fermitools/1.0.0/bin/fermitoo

[2018-11-19 09:18] landriu commented on #14
Yes, we can reinstall everything each time we have a modification not corresponding to
an offical version, but it would have been more convenient just to rename an existing
installation, to say it is an intermediary delivery, instead restarting the whole process
each time.

[2018-11-19 14:20] Areustle commented on #13
It would only be possible to build a fermitools package with a shared `source activate dependencies` if Fermitools is built outside conda using Joe's suggested method.

[2018-11-19 15:06] landriu commented on #13
and could it be possible for FSSC to provide such a short version of fermitools, to be associated
locally by the user with the needed dependencies as another delivery ?
 Dependencies should vary slower than fermitools, I guess, and many versions could work with
same external packages ?

[2018-11-19 16:35] jasercion commented on #14
I think I might not be following the workflow properly, so I'd like to clarify:

You wish to install different versions of the tools in different locations, test them, and then use one of those installed versions as a production version?

Are you making additional modifications to the version of the tools installed by Conda?  Or do you have other versions of the tools obtained separately (such as

[2018-11-19 16:44] Areustle commented on #13
In a sense this short version is available currently in the github source repositories using Joe's suggested method.
To the best of my knowledge it is not possible to provide this in Conda.

Note this is not a use case the FSSC has historically supported for a number of reasons. Dependencies do vary (quickly, more quickly than the fermitools will) and we can only guarantee a version of the tools w

[2018-11-19 17:11] Areustle commented on #13
Do you have another package / dependency manager system you're aware of that you prefer? One that has the kind of model you're describing, with shared dependencies in addition to segregated environments? If so that could certainly be something we would expand support to in the future. We have tentative plans to bring the FermiTools to pip for example.

[2018-11-19 18:30] Areustle commented on #13
What is your system currently using? An OS manager like yum or apt-get? An HPC manager like SPACK or Environment Modules (or the older 'tap'), or Conan? These are the ones I've heard of.

[2018-11-20 07:14] landriu commented on #13
Hi Alex,

    in fact I was using the installer.py from Tom Stephens at SLAC, that I modified to check
if dependencies were already available on local GLAST_EXT, and just downloaded the necessary
package provided by SLAC, adapted to our system in Saclay.

 So it was really simple to deal with deliveries on our side, with the benefit of sparing disk space.

[2018-11-20 07:37] landriu commented on #14
For the moment, we have two versions : fermitools-1.0.0 and a modified fermitools-1.0.0-alpha generated from official fermitools-1.0.0 with an update provided by Eric Charles for testing:
  conda update -c conda-forge -c fermi/label/alpha -c fermi fermitools

  in fact I have tried to apply the update on official  installation and tried to rename it, but it
 did not give a valid installation, and

[2018-11-20 13:33] landriu commented on #13
I think I did a ftp a long time ago :
     I can give you the sources here :
    *** Original installer.py
[installer.py.txt](https://github.com/fermi-lat/Fermitools-conda/files/2599906/installer.py.txt)

    *** Modified script :
[Saclay_local_installer.py.txt](https://github.com/fermi-lat/Fermitools-conda/files/2599916/Saclay_local_installer.py.txt)

[2018-11-28 21:56] giacomov opened #16 "Pin version of libgcc-ng"
It looks like the package libgcc-ng is currently not from conda-forge:

[code]

There is a version in conda forge, but it's older (it's 7.2.0). So now the fermitools (1.0.0) are built against 8.2.0 which is from the default channels, which means that they might be incompatible with other software built against `conda-forge` packages.

[2018-11-29 18:52] jasercion commented on #15
Ok.  So it looks like two separate issues are occurring here.  The deactivate command isn't properly sourcing the deactivate script and the script itself isn't fully cleaning up the environment variables.  The second issue will most likely just require some patching to the deactivate scripts but I will need to investigate the first issue a bit and see if I can replicate it here.

[2018-11-29 19:00] jasercion commented on #14
Are the two installations living in their own separate conda environments?  Unfortunately Conda does not allow the renaming of environments themselves.  I'm surprised the update didn't work from the official release to the alpha release, do you happen to have any error output from that?  It shouldn't have to reinstall everything for an update, it should just replace the old Fermitools binary with

[2018-11-29 19:09] jasercion commented on #13
I should note: the user should only have to compile once.  This should generate more portable binaries.

[2018-11-29 19:33] jasercion commented on #16
I'll get this updated.

[2018-11-30 07:31] landriu commented on #14
HI Joe,
  sorry if I have not been clear enough, but I got at first a valid installation after the update, but
it became unvalid after the renaming and I had to recreate a special version with the new name
--prefix=fermitools-alpha : restarting from the beginning : initial installation + update.
   I have then two different installations fermittols-1.0.0 and fermi-1.0.0-alpha including both their

[2018-12-01 15:48] tibaldo opened #17 "Error with conda installation on Mac OS High Sierra"
I installed the conda version of Fermi Tools on my Mac (Mac OS High Sierra 10.13.6), but the tools do not work, I get the following error message
`$ gtselect

dyld: Library not loaded: @rpath/libssl.1.0.0.dylib

  Referenced from: /Users/ltibaldo/anaconda3/envs/fermi/lib/root/libNet.5.so

  Reason: image not found

Abort trap: 6`

The library that the tools cannot find seem to be present, though
`

[2018-12-03 10:55] tibaldo commented on #17
The issue disappeared after running

`conda update -c conda-forge -c fermi --all`

that I did following suggestions on GitHub issues relative to other packages. Not sure what caused the hiccup during my installation.

[2018-12-03 10:55] #17 closed

[2018-12-03 21:00] physicsranger opened #18 "Can't activate fermi environment"
I have installed anaconda for python2.7 (version 4.5.11) and, as far as code tells me, successfully installed the fermitools ("conda create -n fermi -c conda-forge -c fermi fermitools" does not report any errors).

I am using .tcsh, and I have sourced <pathtoconda>/etc/profile.d/conda.csh.

When I type conda activate fermi in a terminal window I get the error ":] Event not found."

When I open a n

[2018-12-03 21:07] physicsranger commented on #18
Addendum:  I just tried this with the install on my laptop (ubuntu vs. centOS 7).  I could activate the fermi environment fine, but conda told me there was a newer version of conda available (I don't know what my previous version was) so I updated, and now I see the same behavior.

[2018-12-04 14:53] physicsranger opened #19 "Error in instructions?"
For .csh or .tcsh your instructions say to use 'conda deactivate fermi' to exit the environment.  However, when I do this I get an error saying that deactivate doesn't take any environments.  I don't know how this effects the bash syntax but either that is updated or there is some subtlety to how I'm using conda that makes things different.

[2018-12-05 20:30] jasercion commented on #18
@physicsranger I'll see if I can replicate this issue on one of our machines.  This consistently happens with the latest version of conda?

Were you ever able to activate the environment in either the bash or tcsh shells?

[2018-12-05 22:08] physicsranger commented on #18
Hi @jasercion.  With the latest conda (v4.5.11 I believe) this happened on two computers, using csh and tcsh.  When I downgraded to v4.4.0 I was able to activate the environment in both.  I did not try the bash shell.

[2018-12-05 22:09] physicsranger commented on #18
Sorry, didn't mean to close it...clicked the wrong button

[2018-12-05 22:10] physicsranger commented on #19
Hi @jasercion, thanks for updating the instructions.  Yes, when doing simply 'conda deactivate' it deactivates without a problem.

[2018-12-05 22:10] #19 closed

[2018-12-06 20:30] joeastro opened #20 "Tools depend on older version of openssl library"

[2018-12-06 20:49] joeastro commented on #20
This issue can arise when the user installs conda packages to enable using the tools within an iPython notebook. In particular, the module nb_conda depends on openssl v.1.1.1. However, at least a couple tools (gtltcube and gtexpmap2) have openssl v.1.0.0 as a dependency. The resulting error message is:

`time -p gtltcube evfile="" evtable="EVENTS" scfile=SC.fits sctable="SC_DATA" outfile=ltCube_ou

[2018-12-11 21:31] physicsranger commented on #18
Yes.
set prompt = "%S[\!]%s %U`whoami`%u:"

[2018-12-11 21:39] jasercion commented on #18
Ok.  Try commenting that out of your .cshrc, re-sourcing it, then activating the environment.

[2018-12-11 21:42] jasercion commented on #18
If that worked, try putting a backslash before the `]`.  Let me know if that works as well.

[2018-12-11 21:47] physicsranger commented on #18
Commenting that out and re-upgrading to conda 4.5.11, I was able to
activate the fermi environment.  I checked and remodified the prompt, same
issue as before.  I then did as you asked and put a backslash before the ]
and now I was able to activate the environment and my custom prompt was
still there.

On Tue, Dec 11, 2018 at 4:42 PM jasercion <notifications@github.com> wrote:

[2018-12-11 22:01] jasercion commented on #18
Awesome.  This is a bug in the way conda parses the prompt variable when running the cshell activation script.  I've opened an issue with conda (https://github.com/conda/conda/issues/8032).

For now you will likely need to leave that extra backslash in there (until Conda fixes the parsing).  Let us know if this crops up again!

[2018-12-31 21:20] Areustle opened #21 "Start tagging with version numbers"
We haven't been including fermitools-version tags in this repository and should start so that builds are reproducible.

[2019-01-08 04:59] fengli9096 opened #22 "Do the conda-activated fermitools work on a computer-cluster?"
I tried to setup the fermitools on a computer-cluster, it seems dose not work well.  Some of the fermitools dosen't run on the computer-cluster, this may due to the environments.

[2019-01-14 18:36] jasercion commented on #18
Closing issue.   Please reopen if this persists.

[2019-01-14 18:36] #18 closed

[2019-01-17 13:14] landriu opened #24 "Warning on fitsio header"
Hi,

  after having activated fermitools environment, we get the following warning
when calling a tool on our environment though all dependencies on cfitsio have been
avoided:
(/dsm/saplxglast/glast/fermitools/1.0.0)
[landriu@sappcb34] ~ > gtlike
WARNING: version mismatch between CFITSIO header (v3.43) and linked library (v3.41).
Statistic to use (BINNED|UNBINNED) [UNBINNED] ^C
.../...

We have:
(

[2019-03-07 19:10] joeastro opened #27 "Tool gtltcube no longer works without an input events file"
It used to be possible to run this tool without an input events file, which was useful for making exposure maps for future times. This behaviour is actually necessary for the mission planning software, since part of that routine creates all-sky exposure maps for the week being planned.

I believe this ability was present during the first one or two conda releases, and I'm certain it was in the las

[2019-03-07 20:04] jasercion commented on #27
Would you mind reopening this in https://github.com/fermi-lat/Likelihood/issues?  Also, please include the exact command that is being run (if you have that handy.

Thanks!

[2019-03-07 20:04] #27 closed

[2019-03-07 20:06] joeastro commented on #27
Sure, I'll re-post over there now.

[2019-03-07 21:03] donhorner opened #28 "Have tools put version in CREATOR keyword"
When looking at another issue, I compared the output of gltcube to a very old version of the ScienceTools.  I realized that the tools no longer put the version of the tools in the CREATOR keyword, just "HEAD".  Here's an example:

< card 25: CREATOR  = 'gtltcube ScienceTools-v9r23p1-fssc-20110726'

We should figure out how to restore this functionality and get a proper version into the CREATOR str

[2019-03-14 13:50] rangioni opened #29 "Segfault when importing Fermipy"
fermitools version: 1.01
fermitools-data version: 0.13
uname -a output: Linux frontend 3.10.0-229.20.1.el7.x86_64 #1 SMP Tue Nov 3 19:10:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I get a segfault when importing Fermipy. The Fermitools themselves work fine, I tested this with a run of gtselect on the command line.

Here is the error message I get using faulthandler:

Fatal Python error: Segmentat

[2019-03-15 17:45] donhorner commented on #24
Sorry no one got back to you sooner, but this warning occurs because astropy uses a different version of CFITSIO than the version that the FSSC builds the conda binaries against. It shouldn't cause any issues with analysis.

We're looking into ways to handle it in a future release.  In the meantime, we've added a note on the [Troubleshooting page](https://github.com/fermi-lat/Fermitools-conda/wiki

[2019-03-15 17:45] #24 closed

[2019-03-15 17:47] donhorner commented on #29
Fermipy is a separate project from the Fermitools.  This would probably be better asked on their Fermipy tracker: https://github.com/fermiPy/fermipy/issues

I don't have much advice to offer.  If I install fermipy in my fermitools environment using the conda command
`conda install -c conda-forge/label/cf201901 fermipy`
as on https://anaconda.org/conda-forge/fermipy, then your import command works

[2019-03-15 17:47] #29 closed

[2019-03-15 18:11] jasercion commented on #20
@joeastro Could you check if this is still an issue in the Patch release and close out the issue if it is solved?

[2019-03-15 18:30] jasercion commented on #21
Done as of the patch release.  Closing.

[2019-03-15 18:30] #21 closed

[2019-03-15 18:45] Areustle commented on #22
Hello @fengli9096,

Currently we do not support or test the efficacy of the conda activated fermi tools on computer clusters of any sort. Do you have more information about the exact type of analysis you want to perform? And information about the cluster you're using?

[2019-03-15 20:37] joeastro commented on #20
Sure, I'll do a clean install and check it early next week (circumstances allowing).

[2019-03-22 10:36] jasercion commented on #28
Talked with Eric about this.  Apparently I won't be able to co-opt the way this was originally done, as it was dependent on a specific functionality of CVS (replacement of reserved string upon checkout).  I'll work on figuring out a better way to go about getting that Keyword updated with the correct tag.

[2019-03-29 17:49] jasercion commented on #20
This is something we won't be able to fix until we move to Root6.  The reason we are pulling this older openssl library is because the version of Root5 we are using depends on it.  @donhorner I think we should remove this from the next feature release and group it with Root6 updates for the subsequent release.

[2019-03-29 17:52] jasercion commented on #16
This is something I'd like to hold off on until we finish our C++11 updates.  Once that's done we'll be pulling compilers and associated libraries from Conda (in the same way conda-forge is doing post the January 2019 gcc7 update).

Once we are doing that there should no longer be a need to pin libgcc.

[2019-03-30 07:55] Fredtrotteville opened #30 "lightcurve query"
It is mentioned in the official fermi tutorial for generating lightcurves
https://fermi.gsfc.nasa.gov/ssc/data/p7rep/analysis/scitools/python_tutorial.html

that all the parameters except 'Index' and 'Integral' should be fixed . I am not sure as to what are the consequences of having all the parameters fixed as opposed to having the said two parameters freed. Also, what is the reasoning behind fre

[2019-04-02 18:42] nmirabal commented on #30
That is a very old tutorial and no longer up to date. In fact, you can leave all parameters of the source of interest free if you like. Note that the parameter names have changed since then. For a power law, the parameters are called Prefactor, index and scale. You can read what each means in the following link

https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/source_models.html

One recomme

[2019-04-04 20:11] jasercion commented on #28
@brianv0 When repoman clones all of the repositories does it have some sort of git config environment that it sets up for itself?  Would it be possible to tell repoman to set up a [git smudge filter](https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes) to handle this CVS keyword substitution in our new git system?

[2019-04-04 20:13] jasercion commented on #28
I've been able to get this to work locally but I have to change my local `git config` directly so I was hoping this could be automated by repoman.

[2019-04-16 16:10] phbruel opened #31 "Compiling code in the conda environment with ROOTCINT"
I'm trying to compile some code (my TVista package, available in cvs: users/bruel/TVista) in the conda environment on my laptop (fedora 27).
I used to compile it on my laptop years ago with an old version of the ScienceTools when I had an old gcc version. When upgrading the fedora version, I couldn't compile it. So I ended up using this code at SLAC.

Up to now, I've compiled it at SLAC with Scien

[2019-04-17 15:09] Areustle opened #32 "Remove azure pipeline yaml"
Shift this to a test branch

[2019-04-17 15:10] Areustle opened #33 "Rewrite readme.md"
The readme should be reworked

[2019-04-17 15:24] #32 closed

[2019-04-17 15:25] #33 closed

[2019-04-17 15:28] Areustle commented on #22
Closing as no progress in a month.

[2019-04-17 15:28] #22 closed

[2019-04-29 15:43] gudlaugu commented on #20
Doing the symbolic link did not work for my student who installed fermitools on OS X.  There is a symbol missing in the new library _SSL_library_init.  Is there a workaround for this?

[2019-04-29 21:36] donhorner commented on #20
We don't have anything right now, but we're looking into it again since we'll need to make sure this works for the Fermi Summer School at the end of May.

[2019-04-30 19:42] #30 closed

[2019-05-06 10:12] awstrong opened #34 "conda fermi : problem activating in tcsh"
I installed latest fermitools with conda 4.6.14
I did
conda init tcsh
conda init bash
conda activate fermi             works under bash but not under tcsh

under tcsh, 'your shell has not been activated'  and    it just tells me to  conda init tcsh
which then returns 'no action' with a list of the shells scripts.
.tcshrc is modified but does not have the required effect, also when restarting tcsh

[2019-05-06 10:19] awstrong commented on #34
NB I had previously used conda 4.2 for the init, before upgrading to 4.6
Perhaps the old init was erroneour, but how can I reset it? Edit .tcshrc by hand or is there a better way?

[2019-05-06 13:33] donhorner commented on #34
We’ve had another report of problems with csh, which I was able to reproduce. It looks like conda has broken the activation for (t)csh users in their most recent releases. It think you'll have to downgrade conda for now.

The current version of conda is 4.6.14.  Based on the conda [release notes](https://github.com/conda/conda/blob/master/CHANGELOG.md), they have made various changes to the activa

[2019-05-06 13:52] awstrong commented on #34
thanks, I may try that.
but if a bugfix is expected soon I can live with running under bash for
now.

On 2019-05-06 15:33, Don Horner wrote:

[2019-05-14 15:04] donhorner commented on #34
We have a beta release that should fix this issue.  It would be great if you could test it.  You can install the beta (we recommend creating a separate conda environment for testing) with the command:

conda create --name fermi_dev -c conda-forge/label/cf201901 -c fermi/label/beta -c fermi fermitools=1.0.5

Due to some metadata changes, it will probably also install fermitools-data and some other

[2019-05-14 16:12] awstrong commented on #34
OK thanks!
I don't quite understand: a new conda release which works for tcsh (if
so what anaconda version is it) or a
new Fermitools which gets around the existing conda 4.6 tcsh problem?
Andrew

On 2019-05-14 17:04, Don Horner wrote:

[2019-05-14 17:13] donhorner commented on #34
The second, a new Fermitools that includes a workaround.

[2019-05-14 20:06] donhorner commented on #34
This might not matter to your testing, but it looks like the beta was installing an old beta version of the fermitools-data package (0.15 vs. the current 0.17) that doesn't have the latest files, like the interstellar emission model.  That wouldn't have affected the activation but could have caused problems if you tried to do an analysis in the fermi_dev environment.  We've corrected that now.

[2019-05-15 05:48] awstrong commented on #34
thanks, I did not install it yet so will get the latest.

On 2019-05-14 22:06, Don Horner wrote:

[2019-05-21 14:41] jasercion commented on #34
A fix for this has been included in the latest release of the Fermitools (Fermitools=1.0.5).

[2019-05-21 14:41] #34 closed

[2019-05-21 15:51] awstrong commented on #34
thanks! so this is no longer beta (you mentioned before) but I can
happily do
  conda updata fermi         ?

On 2019-05-21 16:41, jasercion wrote:

[2019-05-21 17:14] donhorner commented on #34
Yes, you should run: conda update -c conda-forge/label/cf201901 -c fermi fermitools

[2019-05-22 09:08] awstrong commented on #34
I did that, have 1.0.5
but it does not help

tcsh:

conda activate fermi

CommandNotFoundError: Your shell has not been properly configured to use
'conda activate'.
To initialize your shell, run

     $ conda init <SHELL_NAME>

Currently supported shells are:
   - bash
   - fish
   - tcsh
   - xonsh
   - zsh
   - powershell

See 'conda init --help' for more information and options.

IMPORTANT: You

[2019-05-22 09:17] awstrong commented on #34
maybe I should do
conda init --reverse               ?

On 2019-05-22 11:08, aws wrote:

[2019-05-22 15:42] donhorner commented on #34
Instead of running "conda init", can you try just running:
`source </path/to/conda>/etc/profile.d/conda.csh`
where </path/to/conda> is replaced with the path to the top level directory of the Anaconda installation (typically named something like "Miniconda2") and then run `conda activate fermi`. You may want to comment out any of the conda stuff already in your .tcshrc and start with a clean shell

[2019-05-24 08:17] awstrong commented on #34
thanks, but anaconda is provided by our computer center so making my own
installation is not so nice, I can do it of course.

Is the workaround only valid for the conda.csh you mention below?
what is wrong with conda init --reverse  (I did not want to risk that
yet though)

perhaps I should just wait till anaconda fixes the bug, since running
under bash is not a big deal for the time being.
Andrew

[2019-05-24 10:51] awstrong commented on #34
I located conda.csh on the computer center installation. Will try it.

On 2019-05-24 10:17, aws wrote:

[2019-05-25 18:20] awstrong commented on #34
On 2019-05-24 12:51, aws wrote:

That worked. Thanks.

[2019-06-06 11:31] landriu opened #35 "Problem using binnedAnalysis() from fermitools-1.0.5"
Hello,

      after fermitools-1.0.5 installation I got the following
  problem with binnedAnalysis :

(/dsm/saplxglast/glast/fermitools/1.0.5-fermipy)
[landriu@sappcfermi] ~/dev/fermitools-1.0.5 > python
Python 2.7.14 | packaged by conda-forge | (default, Oct  5 2017, 14:19:56)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2019-06-11 14:39] nmirabal commented on #35
To try to track the source, can you try running

1) without wmap and delete_local_fixed=True
2) just without delete_local_fixed=True

Let us know if you get the same error

[2019-06-11 14:49] landriu commented on #35
Hi,

 I did the call without these options and got same message :

[landriu@sappcfermi] ~/dev/fermitools-1.0.5 > python
Python 2.7.14 | packaged by conda-forge | (default, Oct  5 2017, 14:19:56)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

WARNING: version mismatch between CFITSIO header (v3.43) and linked library (v3.41)

[2019-06-11 16:09] nmirabal commented on #35
Can you try this format?
obs = BinnedObs(srcMaps='file_name',binnedExpMap='file_name',
expCube='file_name',irfs='CALDB')
like = BinnedAnalysis(obs,'XML_file_name',optimizer='Minuit')

[2019-06-11 18:50] landriu commented on #35
________________________________
________________________________
________________________________
________________________________
Hi  Nestor,

  I did :

(/dsm/saplxglast/glast/fermitools/1.0.5-fermipy)
[landriu@sappcfermi] ~/dev/fermitools-1.0.5 > python
Python 2.7.14 | packaged by conda-forge | (default, Oct  5 2017, 14:19:56)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux2
Type "help", "cop

[2019-06-12 16:35] nmirabal commented on #35
I reproduced the original error as you posted it, but the latter format should not generate any errors. Can you verify that the files are correctly produced?. Can you rename the files by removing the underscore _?. If the error persists, would you mind making your files available for testing?.

[2019-06-12 16:39] nmirabal commented on #35
One more thing, calls are case-sensitive, start with
import pyLikelihood
from BinnedAnalysis import *

Please use BinnedObs and BinnedAnalysis

[2019-06-12 16:58] landriu commented on #35
Hi,

  I could launch the test using BinnedAnalysis instead binnedAnalysis without
errors indeed :

(/dsm/saplxglast/glast/fermitools/1.0.5-fermipy)
[landriu@sappcfermi] ~/dev/fermitools-1.0.5 > python
Python 2.7.14 | packaged by conda-forge | (default, Oct  5 2017, 14:19:56)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

W

[2019-06-19 05:27] Sanjuphysics12 opened #36 "QGTKstyle could not resolve GTK"
"QGtkStyle could not resolve GTK. Make sure you have installed the proper libraries." Even after updating and reinstalling the library, I am getting this error again and again. How can I resolve this ?

[2019-06-19 17:28] jasercion commented on #36
@Sanjuphysics12 What tool are you attempting to launch that is throwing this error?  QGtkStyle is a library used by the system to render GUI interfaces, so it is likely that this isn't the direct source of the error but rather a side effect of an earlier failure in launching a tool.

What OS are you using?

[2019-06-20 15:12] Sanjuphysics12 commented on #36
@jasercion ubuntu 16.04.

[2019-06-20 15:20] jasercion commented on #36
@Sanjuphysics12 What tool are you attempting to launch?

[2019-06-24 12:08] L61 opened #37 "ST_Version error"
ST_Version script fails to produce a version number and crashes when running GTAnalysis from fermipy

Dump:

AttributeError                            Traceback (most recent call last)
<ipython-input-6-123b6f2911ac> in <module>()
----> 1 gta = GTAnalysis('config.yaml')
      2 matplotlib.interactive(True)
      3 gta.setup()

/home/username/anaconda3/envs/fermi/lib/python2.7/site-packages/fermipy/

[2019-06-24 13:27] jasercion commented on #37
@L61 Would you mind testing this with a development build we have prepared?  I think we may have a fix for this.  I'd suggest creating a new environment and installing it there to run the test.  The test build can be installed with the following command:

`conda install -c conda-forge/label/cf201901 -c fermi -c fermi/label/dev fermitools=1.0.8`

[2019-06-24 14:24] L61 commented on #37
Unfortunately it keeps throwing the same error.

This is on a new environment, with only fermitools 1.0.8, fermipy and jupyter notebook (+ dependencies) installed

[2019-06-24 19:55] jasercion commented on #37
@L61 Thanks for trying that.

@eacharles Any ideas offhand as to where this could be failing within the ST_Version chain?

[2019-06-24 20:17] jasercion commented on #35
Reopening issue.

[2019-06-25 11:20] Fdepalma commented on #37
I temporarily solved this issue downgrading to the version 1.0.2 that it is available on conda

[2019-06-25 15:22] jasercion commented on #35
Apparently the fix for the BinnedAnalysis/pyLikelihood interface is directly tied to a number of changes that were made to introduce the new energy dispersion calculation into the new Fermitools.  This unfortunately means we won't be able to release this fix until we are clear to releasing the next major feature release of the tools.

Currently the candidate release with those changes is in testin

[2019-06-26 15:26] jasercion commented on #37
@Fdepalma @L61 I have a test version with a patch on a development label.  Would you both mind verifying that this build solves the problem?  It can be installed with the following command:

`conda install -c conda-forge/label/cf201901 -c fermi -c fermi/label/dev fermitools=1.0.9`

I suggest doing so in a newly created environment specifically for testing purposes.

[2019-06-28 10:20] L61 commented on #37
@jasercion that seems to work fine (for the moment at least). The program reports "ScienceTools version unknown", but that's not a big deal.

Thank you for the quick fix!

[2019-07-01 09:03] Fdepalma commented on #37
@jasercion It seems to work fine for the example I have tested. The fermipy starting output is:
2019-07-01 11:02:00 INFO    GTAnalysis.__init__():
--------------------------------------------------------------------------------
fermipy version 0.17.4
ScienceTools version unknown

[2019-07-09 21:03] #37 closed

[2019-07-10 10:37] Sanjuphysics12 commented on #36
@jasercion  gtlike

[2019-07-25 08:18] landriu commented on #15
Hello Joe,

 did you make any progress : the deactivate still does not work with our installation of fermitools-1.0.10, and it seems it could interfere with other packages as vnc which cannot be used on a working
session with fermitools environment activated .

 Thanks

[2019-07-25 19:28] jasercion commented on #15
Hi @landriu, is your installation of conda up to date?  Conda made a few changes relatively recently that may affect this.  If it is not, try updating conda and using `conda deactivate`.  Let me know if that throws an error and what that error is.

[2019-07-26 07:22] landriu commented on #15
Hi joe,

 this works indeed :

[landriu@sappcfermi] ~ >
(/dsm/saplxglast/glast/fermitools/last_version)
[landriu@sappcfermi] ~ > conda deactivate
[landriu@sappcfermi] ~ >

Thanks for your help

[2019-07-26 07:38] landriu commented on #15
but I just saw that gtlike is still pointing to ::
[landriu@sappcfermi] ~ > conda deactivate
[landriu@sappcfermi] ~ > which gtlike
/dsm/saplxglast/glast/fermitools/1.0.10/bin/fermitools/gtlike

  what is defined in my .profile and not : /dsm/saplxglast/glast/fermitools/last_version
that I did  interactively .

  It seems the action is not functional when the environment has been defined in the .pr

[2019-07-26 08:12] landriu commented on #15
In  fact, if I start whithout defining an environment :

[landriu@sappcfermi] ~ > which gtlike
/usr/bin/which: no gtlike in (/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/puppetlabs/bin:/dsm/saplxglast/home/landriu/bin)

, and do then :

[landriu@sappcfermi] ~ > source activate /dsm/saplxglast/glast/fermitools/1.0.10
You have LD_LIBRARY_PATH set. This might interfere

[2019-07-29 14:39] jasercion commented on #15
Do you get the same result if you use `conda activate` as opposed to `source activate`?

[2019-07-29 14:48] landriu commented on #15
yes I got the same result :

(base)
[landriu@sappcfermi] ~ > which gtlike
/usr/bin/which: no gtlike in (/opt/rhel-7.x86_64/gnu/anaconda/2019.03/bin:/opt/rhel-7.x86_64/gnu/anaconda/2019.03/condabin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/puppetlabs/bin:/dsm/saplxglast/home/landriu/bin)
(base)
[landriu@sappcfermi] ~ > conda activate /dsm/saplxglast/glast/fermitoo

[2019-07-29 14:56] jasercion commented on #15
Unfortunately with the introduction of `conda init` the `(base)` prompt and `conda` definition is expected behavior.  `conda init` changes your `.bashrc` to automatically source and set up conda when you log in.  To fix this, I'd suggest commenting out the changes it made to that script and encapsulating them in an aliased command that you can run when you want conda to be sourced.  Another comman

[2019-07-29 15:05] landriu commented on #15
Yes FERMI_OLD_PATH is created, and I have then  :

[landriu@sappcfermi] ~ > echo $FERMI_OLD_PATH | awk -F: '{for (i=1;i<NF;i++){print $i}}'
/opt/rhel-7.x86_64/gnu/anaconda/2019.03/condabin
/dsm/saplxglast/glast/fermitools/1.0.10/bin
/opt/rhel-7.x86_64/gnu/anaconda/2019.03/condabin
/home/landriu/builds/Healpix_3.30/src/cxx/generic_gcc/bin
/usr/lib64/qt-3.3/bin
/usr/local/bin
/usr/bin
/usr/local/sbi

[2019-07-29 15:06] landriu commented on #15
we did not have in PATH (excuse me)

[2019-07-29 15:13] jasercion commented on #15
Thanks!  I think this pinpoints the problem.  `FERMI_OLD_PATH` is meant to capture the users old `PATH` variable so that it can be reset upon deactivation.  Clearly it is doing this after `conda` already modifies the `PATH`.

I'll update this and get a fix out in the next patch.  Apologies for the delay in getting this fixed, thank you for pinging me again about it.

[2019-07-29 16:53] landriu commented on #15
That's  a good point indeed.

 Thank you very much,

Cheers,

   David Landriu
________________________________
De : jasercion [notifications@github.com]
Envoyé : lundi 29 juillet 2019 17:13
À : fermi-lat/Fermitools-conda
Cc : Landriu David; Mention
Objet : Re: [fermi-lat/Fermitools-conda] Environment stays after "source deactivate" (#15)

Thanks! I think this pinpoints the problem. FERMI_OLD_PATH

[2019-08-02 18:02] jasercion commented on #15
Just found this out.  @landriu to disable conda from automatically starting up when you launch your shell run `conda config --set auto_activate_base false`.  This will prevent conda from auto activating the `(base)` environment.

[2019-08-10 22:52] lauramog opened #38 "which is the best method to install Fermitools on a computer-cluster?"
Hi,
I would appreciate any help !

[2019-08-27 13:15] Sanjuphysics12 opened #39 "gtltcube execution failed during light curve generation"
I was trying to generate the light curve, after generation of few bins (fits file)  I got the following error:

Caught St13runtime_error at the top level: No GTIs found in input event file(s).
Traceback (most recent call last):
  File "lightflux.py", line 9, in <module>
    lc.generate_files()
  File "/path/LightCurve.py", line 91, in generate_files
    expCube.run()
  File "/pathl/anaconda2/envs/

[2019-08-28 08:30] Sanjuphysics12 commented on #39
@nmirabal  I checked for larger time interval even I did the following.
     Suppose start_time: A, stop_time: K and interval is consecutive alphabets, e.g. A to B, B to C, C to D ......J to K. Let us consider there is no valid data within I to J, so I would get the above error during the running of gtltcube command for the interval I to J.  Now, I set stop_time: I instead of K, then I am getting

[2019-08-29 01:30] nmirabal commented on #39
Can you download two weeks of data for your source and run the following analysis thread?
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/python_tutorial.html
Please let me know if that works.

[2019-08-31 13:09] Sanjuphysics12 opened #40 "Caught St13runtime_error at the top level: RoiCuts::sortCuts:"
What does the error mean?

[2019-09-02 08:42] landriu opened #41 "conda create tells me fermitools is in conflict"
Hello,

  I would like to create another independent version of fermitools, in a new directory 1.0.10X using the following command, but got a conflict message :
[landriu@sappcfermi] ~ > conda create -c conda-forge -c fermi fermitools sympy fermipy --prefix=/dsm/saplxglast/glast/fermitools/1.0.10X
WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting pac

[2019-09-02 14:48] landriu commented on #41
Sorry : I did not find immediately the QuickStart guide, and following these explanations
I could get the installation by doing a similar command as given in the example :

 conda create -c conda-forge/label/cf201901 -c fermi fermitools sympy fermipy --prefix=/dsm/saplxglast/glast/fermitools/1.0.10X

I think I can close this issue then.

Cheers,

  David Landriu

[2019-09-02 14:48] #41 closed

[2019-09-03 15:31] donhorner commented on #40
This error occurs when a tool such as gtexpmap finds duplicate DSS keywords in the FITS header, so you must delete one of the duplicated keywords. After that you must change the keyword NDSKEYS to reflect the surviving number of DSS keywords. You also must renumber the remaining keywords so that the numbering is consecutive and the max is the same as the total number, otherwise the tool will fail.

[2019-09-03 15:38] Sanjuphysics12 opened #42 "AttributeError: 'module' object has no attribute 'new_table'"
NOTE: Band7, with center energy 19.0529425421 GeV, quoting 95% upper limit on flux.
Traceback (most recent call last):
  File "Sed.py", line 95, in <module>
    sed.Plot()
  File "/path/SED/likeSED.py", line 148, in Plot
    plotSED(self,plot)
  File "/path/SED/likeSED.py", line 921, in plotSED
    writeSpecFits(sed,modBins,modelEcent,[x/1000. for x in newminEs],[x/1000. for x in newmaxEs],GeVflux

[2019-09-03 15:42] Sanjuphysics12 commented on #40
@donhorner, when I was using 'gtselect', I put the exact values of emin, emax, tmin, tmax , ra and dec. Even I checked several times even after putting those values accurately I got the error.

[2019-09-03 17:00] nmirabal commented on #40
Please download the files again. Step by step guides for binned and unbinned analyses are provided at:
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/likelihood_tutorial.html

[2019-09-03 18:08] nmirabal commented on #42
This is a user contributed script and we cannot provide much support for it. Could you run the following analysis thread to see if you encounter the same error?
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/python_tutorial.html

[2019-09-05 12:21] landriu opened #43 "fermitools behaviour sensitive to the linux version"
Hello,

   I have installed fermitools-1.0.10 and when I work on interactive python, I have an import
error on :

 .../...
 ImportError: /usr/lib64/libgobject-2.0.so.0: undefined symbol: g_date_copy

 If I do "uname -a" on my machine, I get :

Linux sappcfermi.extra.cea.fr 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

  I do not meet this problem wo

[2019-09-05 20:43] jasercion commented on #43
I'll look into this.  It looks like the symbol is part of Glib which is a very low level date/time library.  This is a Red Hat machine?

[2019-09-05 20:45] jasercion commented on #43
Which version of the OS?

[2019-09-06 07:04] landriu commented on #43
I have on the working machine :

(/dsm/saplxglast/glast/fermitools/1.0.10) landriu@sapgaia1:~$ hostnamectl
   Static hostname: sapgaia1.extra.cea.fr
         Icon name: computer-vm
           Chassis: vm
        Machine ID: 1b519139d44f4215ae4e9279bb0262cd
           Boot ID: 3f815cc27af04272b87c5b889a2da8f8
    Virtualization: kvm
  Operating System: CentOS Linux 7 (Core)
       CPE OS Name: cpe:

[2019-09-06 18:27] paulray opened #44 "Python3 roadmap?"
Is there somewhere that describes the plan for Fermitools to migrate to Python3?
Python 2.7 support is disappearing from all of the major packages by 2020 (see https://python3statement.org).  What is the plan for Fermi?

[2019-09-06 18:58] donhorner commented on #44
We have a wiki page with a [general roadmap for the  Fermitools](https://github.com/fermi-lat/Fermitools-conda/wiki/Fermitools-Roadmap). It's not every detailed (and needs some updating).  We also have a github project board (which is not public).  We were hoping to get this done for a Q3 release but other things have come up and no one is working full time on the tools anymore, so it will likely

[2019-09-06 19:17] paulray commented on #44
Thanks, that is just what I was looking for!

[2019-09-10 13:36] paulray commented on #44
I happened upon this notice that Python 2 will lose all support on January 1, 2020.
https://www.python.org/doc/sunset-python-2/

[2019-09-27 06:33] Sanjuphysics12 commented on #42
@nmirabal still getting the same error ( I followed all the steps, mentioned in that page). Another thing is that, I chose 'nbins=9' but 7  bins were formed and after plotting the sed the same error I got.

[2019-10-02 06:41] landriu opened #45 "wrong parameters asked for by gtmodel with fermitools-1.1.7"
Hello,

 doing tests with developpement  fermitools  version 1.1.7, gtmodel asked for
wrong parameters ptsrc, minbinsz, and wmap when launching :

source activate $NFS_ZONE/fermitools/1.1.7-orig
(/dsm/saplxglast/glast/fermitools/1.1.7-orig)
[landriu@sappcfermi] ~/dev/testGtModel > gtmodel srcmaps=srcMap_1_E3.fits bexpmap=binned_exposure_E3.fits expcube=LiveTimeCube_1.fits srcmdl=srcModel_1.xml out

[2019-10-02 14:33] donhorner commented on #45
I don't see this issue when I run gtmodel in the dev version.  I think your gtmodel is picking up an old or corrupted par file somewhere.  If you do a `plist gtmodel `, it should tell you where the par file is (probably your home directory).  Try deleting it, and when you run the tool again it will copy the one from syspfiles.

[2019-10-02 15:33] donhorner commented on #45
Did you mean to close this issue @landriu?  It looks like you still had a question.

The `/dsm/saplxglast/home/landriu/pfiles/gtmodel.par` file is definitely the "old" one for the release version.  Did you try to delete it?

The `/dsm/saplxglast/glast/fermitools/1.1.7-orig/share/fermitools/syspfiles/gtmodel.par` file is the correct one for the new version.  It does have the `edisp_bins` parameter.

[2019-10-03 06:24] landriu commented on #45
Hi Don,

 Sorry, I just clicked the wrong buyttpn.

  I removed $HOME/pfiles/gtmodel.par and it did not have any effect on the result,
and I got the same output :

[landriu@sappcfermi] ~/dev/testGtModel > plist gtmodel
Parameters for /dsm/saplxglast/home/landriu/pfiles/gtmodel.par
      srcmaps = srcMap_1_E3.fits Source maps (or counts map) file
       srcmdl = srcModel_1.xml   Source model file

[2019-10-03 16:07] Sanjuphysics12 opened #46 "Minuit HESSE results invalid"
How to resolve the following error: ( I got it during lightcurve generation)

"RuntimeError: Minuit HESSE results invalid"

[2019-10-04 08:03] landriu opened #47 "edisp_bins parameter missing in fermitools 1.2.0"
Hello,

   I installed the new fermitools using command :

conda create -c conda-forge/label/cf201901 -c fermi fermitools sympy --prefix=/dsm/saplxglast/glast/fermitools/1.2.0

  and got a workable environment using : source activate $NFS_ZONE/fermitools/1.2.0

I deleted $HOME/pfiles/gtsrcmaps.par as told in Release Notes

I tried to launch manually the command :

/dsm/saplxglast/glast/fermitools/

[2019-10-04 09:53] landriu opened #48 "core dump sent by gtsrcmaps from fermitools 1.1.7"
Hello,

   I meet a problem on gtsrcmaps with fermitools development version 1.1.7

I get the following error message :

 [landriu@sappcfermi] ~/dev/testGtSrcMaps/testTH > which gtsrcmaps
 /dsm/saplxglast/glast/fermitools/1.1.7/bin/fermitools/gtsrcmaps

 [landriu@sappcfermi] ~/dev/testGtSrcMaps/testTH > gtsrcmaps
 scfile=ft2_july09_pass8.fits expcube=ltCube_105.fits cmap=count_cube_1_E3.fits
 srcm

[2019-10-04 15:27] donhorner commented on #47
It looks like the correct par files aren't getting installed for all the tools.  I can see that the edisp_bins option is missing in the installed par files in syspfiles for some of the tools even though it's in the versions in [master](https://github.com/fermi-lat/Likelihood/tree/master/pfiles).

@jasercion can you take a look and see why the old par files are getting installed?

[2019-10-04 16:16] donhorner commented on #47
I did a complete fresh install of the tools rather than updating an existing environment and the correct par files are now in that environment's syspfiles directory.  So I guess conda isn't overwriting the ones that are already there?

[2019-10-04 22:54] donhorner commented on #47
We released version 1.2.1 which should fix this problem. Try updating and see if the problem persists.

[2019-10-04 22:57] donhorner commented on #48
It works for me using the Mac version (1.1.7 or 1.2.1), but I get the same error on Linux with either 1.1.7 or 1.2.1.  @jasercion is looking into it.

[2019-10-07 11:47] cosimoNigro opened #49 "are older versions of Fermi tools available via conda?"
Hello,

following the instruction in the wiki, I was trying to install an older version of the fermitools. The command you specify to do so
[code]
works only if `<VERSION>` is replaced with the current release 1.2.1; any older release produces the error:

[code]

Am I doing something wrong?
Thanks for your support!

[2019-10-07 14:15] donhorner commented on #49
The 1.1.X version aren't official releases, so to install one of the you need to specify a label, like "-c fermi/label/dev".  You can read more details in the [Testing Page](https://github.com/fermi-lat/Fermitools-conda/wiki/Testing-the-Fermitools).  You can actually see all the version available in our [Anaconda Cloud](https://anaconda.org/fermi/fermitools/files).

[2019-10-07 17:08] nmirabal commented on #46
You have to provide more details. Please read the FSSC recommendations on Minuit and NewMinuit in the "Run the Likelihood Analysis" at  the following link
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/python_tutorial.html

[2019-10-08 09:45] cosimoNigro commented on #49
Thanks it worked,
 I think you should specify it in the wiki
https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions#obtaining-a-specific-version
to use
[code]
in order to obtain older versions.
The current instruction is not correct.
Cheers,

[2019-10-08 14:08] donhorner commented on #49
Again, the 1.1.X aren't official releases, and we don't encourage people to use them unless they have a specific purpose for testing.  The command would work fine if you put in version 1.0.10, the last official release.

[2019-10-08 14:08] #49 closed

[2019-10-10 15:28] donhorner opened #50 "Fermitools 1.2.1 broken on RHEL6"
The latest release 1.2.1 seems to be broken on RHEL6 systems.  Trying to run a tool just prints out errors like:

@jasercion is working on a fix.  This wasn't a problem on the 1.1.7 dev version.

[2019-10-11 06:36] FurutaT opened #51 "ModelEditor do not support "RadialDisk""
I used ModelEditor of fermitoolsv1.2.1 and got following Error.

TypeError: Invalid SpatialModel type (RadialDisk)!

Maybe this version ModelEditor don't support "RadialDisk".

[2019-10-11 10:51] Sanjuphysics12 commented on #46
**Working on range (550368005.000000,550454405.000000)
***Running likelihood analysis***
Info in <Minuit2>: MnHesse: 2nd derivative zero for Parameter  : name = 0_Prefactor
Info in <Minuit2>: MnHesse fails and will return diagonal matrix
Info in <Minuit2>: CombinedMinimumBuilder: migrad method fails, will try with simplex method first.
Info in <Minuit2>: MnHesse: 2nd derivative zero for Parameter

[2019-10-11 13:25] landriu opened #52 "Cannot use energy dispersion with fermitools"
Hello,

  I have tried to generate a binned like object using the nouveau argument edisp_bins, and
got the following error message when calling BinnedAnalysis() :
TypeError: __init__() got an unexpected keyword argument 'edisp_bins'

 What is the correct method to apply energy dispersion ? I could not get it in the documentation.

  The only occurence of string 'edisp_bins' being :
[landriu@sappcf

[2019-10-11 14:26] donhorner commented on #52
It looks like you are using the 1.2.0 version.  If you update, you should get the 1.2.1 version which fixed some issues with missing parameters.

[2019-10-11 15:13] landriu commented on #52
Sorry,

  I had the error in a fermitools 1.2.1 environment, but reproduced it in a 1.2.0 one .

I started again in  the proper one :

[landriu@sappcfermi] ~ > conda list | grep fermi
WARNING: The conda.compat module is deprecated and will be removed in a future release.
# packages in environment at /dsm/saplxglast/glast/fermitools/1.2.1:
ape                       2.9                           0

[2019-10-11 15:47] donhorner commented on #52
I can reproduce this.  We also had another problem report today about BinnedAnalysis, so maybe something didn't get implemented correctly there.  I'll have @jasercion take a look. He's out today and Monday is a holiday here, so he might not get to it until next week.

[2019-10-11 16:01] nmirabal commented on #46
You might be missing sufficient counts in that particular time bin. You can increase the bin size (> 1 day) or try to estimate an upper limit for that particular bin.
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/upper_limits.html

[2019-10-22 16:55] limyansky commented on #50
I see an identical error when using fermitools 1.2.1 on CentOS 6.8.

[2019-10-22 22:28] donhorner commented on #50
@limyansky We have a test version that works on RHEL6.  You can try it and see if it works on your CentOS system.  I would suggest creating a new environment for it.  You can install it with the following command (I've call the new environment fermi_dev):

conda create -n fermi_dev -c conda-forge/label/cf201901 -c fermi/label/dev -c fermi fermitools=1.2.2

You can find more instructions for settin

[2019-10-25 18:53] limyansky commented on #50
@donhorner This version looks like it fixed my issues, thank you!

[2019-10-25 19:06] donhorner commented on #50
Great! Hopefully, we'll have an official patch release (which will include some other fixes) out soon.

[2019-11-07 12:33] mireianievas opened #53 "Yet another energy dispersion issue (use_edisp returns False), in 1.2.1"
I am failing miserably to perform some analysis using energy dispersion corrections and I suspect that is the reason why the fits I get in LAT don't make much sense lately.

I have a BinnedObs instance called Obs and a BinnedAnalysis instance called Fit.

I try to enable the energy dispersion corrections by running

`Fit.logLike.set_edisp_flag(True)`

and right in the next line, I make sure they a

[2019-11-07 13:29] phbruel commented on #53
Since the introduction of the edisp_bins mechanism, the trick is to pass the energy dispersion information through a BinnedConfig objet. For instance:
myconf = BinnedConfig(edisp_bins=-1)
blike = binnedAnalysis(...,config=myconf)

[2019-11-08 01:12] mireianievas commented on #53
Thank you, I will give it a try.

[2019-11-12 01:12] AvaGhadimi opened #54 "PASS8R3 IRFs and 4FGL not in 1.2.1?"
I have the latest version (1.2.1) of fermitools but when I tried to run an analysis using PASS8R3 IRFs and the 4FGL catalog, I get prompted that the files don't exist.

Are these not included in the new release or do I need to separately download and add them? If the latter, how would I go about doing that?

[2019-11-14 11:10] imereu opened #55 "pointlike problem astro::SkyDir"
Hi,
I have tried to do a likelihood exercise following the tutorial
[http://polywww.in2p3.fr/activites/physique/glast/workbook/pages/sciTools_pointlike_tutorial/3_pointlike_tutorial_part02.html#performSpectralAnalysis ](url)

I find this error:

`Using gti from expCube.fits
loaded LivetimeCube expCube.fits
.....loading binfile binned_4bpd.fits ...Creating Bands, pixels from file binned_4bpd.fits,

[2019-11-15 16:20] nmirabal commented on #54
Have you followed the Fermi analysis threads?
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html

[2019-11-15 17:59] AvaGhadimi commented on #54
Thank you for the link. I'm very new to this so I didn't know where to download the irfs or how to generate the XML models. I'll mark this issue as closed.

[2019-11-15 17:59] #54 closed

[2019-11-22 15:56] tburnett commented on #50
My case may not be the same, but I get this message:
rhel6-64b:~/guburnett[544]$conda activate fermi
root: error while loading shared libraries: libicui18n.so.56: cannot open shared object file: No such file or directory

I see that there is a file (actually a link): /nfs/farm/g/glast/u/burnett/anaconda2/envs/fermi/lib/libicui18n.so.58
I wonder where the code is that generates this. The error seem

[2019-11-22 19:38] tburnett commented on #50
That didn't work--had to do two more links, then failed with this:
root: symbol lookup error: /nfs/farm/g/glast/u/burnett/anaconda2/envs/fermi/bin/../lib/./libxml2.so.2: undefined symbol: UCNV_TO_U_CALLBACK_STOP_56 .
So could not fool it into thinking it had version 56.

Nor did switching to 1.2.2, or 1.1.7. In those cases, LD_LIBRARY_PATH is not set at all with no message.
All I need is to have L

[2019-11-26 21:20] jasercion commented on #48
Going through this a bit with GDB it looks like the program is specifically throwing an arithmetic exception with the Likelihood::Drm::Drm function:

`Exposure hypercube file[ltCube_105.fits]
Counts map file[count_cube_1_E3.fits]
Source model file[srcModel_1_E3.xml-initial]
Binned exposure map[binned_exposure_E3.fits]
Source maps output file[srcMap_1_E3.fits]
Response functions[CALDB]

Program rec

[2019-12-04 22:55] #46 closed

[2019-12-04 22:58] #40 closed

[2019-12-05 14:14] cameronrulten commented on #44
How's the Python 3 transitioning coming along? Any updates?

[2019-12-05 17:02] donhorner commented on #44
Unfortunately, it has been slow going, partly because people have had to work on other projects/issues and haven't had as much time on it as anticipated.  The problems right now are mainly that switching to Python 3 in conda requires updating the compilers and a bunch of dependencies (like ROOT) that break the builds.  We're still trying to resolve those issues.

[2019-12-06 11:04] imereu commented on #55
Is there still no solution to this problem or has it been solved?

[2019-12-06 16:19] donhorner commented on #55
Sorry. I saw that Toby seemed to be trying to help you on Slack so never followed up here.

The problem is no one in FSSC knows anything about pointlike.  It's entirely Toby's tool.  We've never really officially supported it.  It wasn't even included the Science Tools (except for one release).  It looks like Toby was stuck trying to get the Fermitools installed as he wanted.  I can prod them to s

[2019-12-09 20:00] jasercion commented on #48
@eacharles Let me know if you need a copy of the input files.  I have them saved locally.

[2019-12-13 12:11] imereu opened #56 "CFITSIO error 202"
I try to use a simple tool and this is the result:

I have installed the new version of fermitools yesterday

[2019-12-17 14:21] nmirabal commented on #56
Please try the instructions on the following link
https://github.com/jaulbric/fermimodel

[2020-01-06 09:58] mireianievas opened #57 "EBL absorption for E>1.66 TeV"
This a minor improvement/suggestion. I'm working with some extrapolation of LAT spectra up to very high energies (for now up to 2 TeV), but if absorbed models are included (e.g. Franceschini 2008) in the analysis then the fermitools complain that the absorption table does not reach those really high energies (it indeed finishes at 1.66 TeV). I would suggest extending to higher values. For now I ju

[2020-01-09 10:23] phbruel commented on #57
Could you tell us which fermi tool complains ?

[2020-01-12 16:49] anatolii-zenin opened #58 "Incorrect CAR projection in gtobssim/gtbin"
I have encountered an issue when trying to simulate observation of an extended source with its morphology defined in a .fits file. The problem can be easily seen in [this screenshot](https://www.dropbox.com/s/708wexcmkml3c9b/Screen%20Shot%202020-01-09%20at%2012.13.06.png?dl=0). The right part shows the input .fits file I provide to gtobssim, and the left part shows the output from gtbin. Unexpecte

[2020-01-14 15:54] nmirabal commented on #58
This is likely an effect of gtbin when creating the counts map. Recall that you are simulating photon counts with a resolution in arcminutes. The input fits image will guide the simulation, but in the small count regime any photon excess that does not fall exactly within input ring will guide how the counts map is produced. If you look at the raw events in test_ring_events_0000.fits, or if you set

[2020-01-15 00:48] akira-okumura commented on #58
The ring shape is obviously distorted. Please look at the East edge of the circle in the screen shot below. The circle touches the 30:00.0 grid in the top-right panel (input FITS file) but it does not in the other panels (top-left with low-energy photons, bottom-left with energies > 1 GeV). I believe it is not an "effect" but a bug.

<img width="1065" alt="Screen Shot 2020-01-15 at 9 45 08" src="h

[2020-01-15 10:05] akira-okumura commented on #58
It happens with `RA---AIT` and `DEC--AIT` too. I first thought that the tool is handing the CAR projection improperly, but changing `CAR` to `AIT` did not help.

[2020-01-19 15:34] avz-lab commented on #58
This is what it looks like with RA = 180 deg:
![](https://user-images.githubusercontent.com/32729419/72683634-6eaa5080-3b1c-11ea-9b5e-110e3879288f.jpg)
However there is no distortion when I place the source it at (0.,0.) coordinates.

[2020-01-20 16:02] mireianievas commented on #57
fermitools                1.2.1            py27h39e3cac_0    fermi
fermitools-data           0.17                          0    fermi

[2020-01-20 16:17] mireianievas commented on #53
Seems to be working.

[2020-01-20 16:17] #53 closed

[2020-01-21 19:24] nmirabal commented on #58
After discussing it with Seth Digel, we believe the issue is with the definition of the reference coordinates (specifically CRVAL2) in ring_source.fits. Wells et al.(1981) and Calabretta & Greisen (2002) are different -CAR conventions in the fits header. You can read more details in Section 2.8 of https://www.aanda.org/component/article?access=bibcode&bibcode=&bibcode=2002A%2526A...395.1077CFUL

T

[2020-01-21 22:01] akira-okumura commented on #58
- The difference described in Calabretta & Greisen 2002 is difference between `RA`/`DEC` and `RA---CAR`/`DEC--CAR`. I think the latter is not introduced in Wells et al. (1981).
- Even if the Fermitools uses a particular WCS definition, the result obtained by `gtbin` should be consistent with the original diffuse map. Our results shows that `gtobssim` and `gtbin` use different WCS interpretations.

[2020-01-21 22:04] akira-okumura commented on #58
This is not the `CAR` definition in Calabretta & Greisen (2002). The user is allowed to use any value for `CRVAL2`. Please read the paper again.

[2020-01-22 01:25] akira-okumura commented on #58
Where is the source file of the corresponding part of `gtobssim`, which reads the FITS image and coordinates headers?

[2020-01-22 01:38] akira-okumura commented on #58
Please see the screen shot that I made with `RA---AIT` and `DEC--AIT` headers.
<img width="852" alt="Screen Shot 2020-01-22 at 10 35 23" src="https://user-images.githubusercontent.com/2981330/72858072-f05bd300-3d02-11ea-8a41-491d2a04a926.png">
I believe `gtobssim` completely ignore the projection keywords such as `AIT` and `CAR` and it handles any FITS images as if only linear coordinates are used

[2020-01-27 08:20] avz-lab commented on #58
The issue seems to behave exactly as Prof. Okumura described. Whenever I try to generate an event map with gtobssim, I get results like this:
![](https://user-images.githubusercontent.com/32729419/73158664-da497a80-4127-11ea-99d5-be00ef77ac56.png)
The shape of this ring does not depend on its coordinates or the coordinates of the reference pixel, which means gtobssim ignores keywords related to pr

[2020-02-07 15:54] jasercion commented on #50
Workaround found for RHEL6 builds.

[2020-02-07 15:54] #50 closed

[2020-02-11 16:15] jasercion commented on #51
Fixed as of release `Fermitools-1.2.23`

[2020-02-11 16:15] #51 closed

[2020-02-11 16:17] jasercion commented on #47
Issue should be fixed.  Closing issue.

[2020-02-11 16:17] #47 closed

[2020-02-14 09:17] me-manu opened #59 "gtsrcmap fails with floating point exception"
I'm trying to generate a weekly light curve for the Crab Nebula, so I'm running a standard analysis for each week separately. For 4 time bins I get a strange error when the srcmap is computed. Within fermipy I get (I already included a handling of the exception when the setup fails and I check for the number of events in the ft1 file. It's small but should still be ok):
[code]
So then, I tried to

[2020-02-14 16:21] donhorner commented on #59
The first thing you can try is to update to the latest version of the tools we released this week, 1.2.23.  Unfortunately, I don't think any of the changes in that release would have fixed this type of issue, but it's worth a shot.

We have [another open issue](https://github.com/fermi-lat/Fermitools-conda/issues/48) with a core dump by gtrsrcmaps that we never resolved.  I wonder if they have the

[2020-02-18 18:58] me-manu commented on #59
Thanks for the answer. I just tried with 1.2.23 without success. The input ft1 file is located here:
`/nfs/slac/g/ki/ki20/cta/mmeyer/projects/VarFSRQs/Output/Crab/Crab-Sync-All/100MeV-1GeV/weekly/t001/ft1_00.fits`
The spacecraft file is here:
`/nfs/slac/g/ki/ki20/cta/mmeyer/projects/VarFSRQs/Output/Crab/ft2/30s.fits`
And the xml file I'm using resides here:
`/nfs/slac/g/ki/ki20/cta/mmeyer/projects

[2020-02-18 22:53] donhorner commented on #59
I grabbed your files and ran gtsrcmaps on the command line like you did above.  It ran to completion on my mac and a local RHEL6 system I tried.  Which OS are you using on the batch farm, CentOS7?

[2020-03-02 23:55] Areustle commented on #38
Hi @lauramog

The easy answer to your question is to install conda on the cluster and then install the fermitools normally via conda.

[2020-03-02 23:55] jasercion commented on #52
@landriu This should be fixed in the most recent release.  Can you please confirm if it is still present?

[2020-03-03 00:15] Areustle commented on #58
This is a fairly tricky problem to solve. The author of the libraries gtobssim is depending upon here to write the resulting file is no longer with the mission. It would likely require substantial human effort to address this bug. We strongly suspect that there is a bug in how gtobbsim interfaces with the MapSources library, as the underlying cause.

An alternative approach, rather than throwing i

[2020-03-03 00:16] Areustle commented on #58
This would be substantially faster than using gtobssim, even without this projection bug.

[2020-03-03 07:26] landriu commented on #47
Hello Joe,

  I did the test again with fermitools 1.2.23 and the error no more apear .

Thanks for the fix,
   David Landriu

[2020-03-03 18:11] eacharles commented on #48
Ok, this is happening b/c the test analysis only has one energy bin and precomputing the variables needed to extrapolate the drm is trying to take derivatives and runs off the ends of the energy vector.
Likelihood ft_conda_48 fixes this.

[2020-03-04 18:30] jasercion commented on #45
I believe this is at least tangentially related to https://github.com/fermi-lat/Likelihood/issues/50 and may be fixed in the dev build 1.2.32.  @landriu could you please check to see if you are seeing this failure continue to crop up with this version?  It can be installed with

`conda install -c conda-forge/label/cf201901 -c fermi -c fermi/label/dev fermitools=1.2.32`

[2020-03-05 10:24] me-manu commented on #59
Sorry for my slow repsonse. I log into the ki-ls machines, which are RHEL6, I think. I submit my batch jobs to RHEL6 machines only. Did you use the same time window as in my par file? For most light curve bins the analysis works and only for some it fails.

[2020-03-05 10:36] me-manu opened #61 "Incorrect energy bounds in "EBOUNDS" HDU in DRM file created with gtdrm"
Hi,
I would like to export the detector response matrix from my analysis using the `gtdrm` tool. It runs ok and generates the desired output as a fits file. The fits file contains several HDUs, the one called `DRM` contains the energy dispersion matrix as well as the true energy bins. I suspect that the HDU called `EBOUNDS` should contain the reconstructed energy bounds, i.e., simply a copy of the

[2020-03-20 19:41] jasercion opened #64 "Last bin in light curves overlaps the next-to-the-last bin in time"
Ported from jira STGEN-107.

[2020-03-20 19:41] jasercion commented on #64
Response from @joeastro:

[2020-03-20 20:04] jasercion opened #65 "Give the version of the ScienceTools in the products"
ported from STGEN-124

[2020-03-20 20:04] jasercion commented on #65
From Jim's comment:

[2020-03-24 18:02] dmalishev commented on #52
Approach with edisp_bins definition via  BinnedConfig described  in
https://fermi.gsfc.nasa.gov/ssc/data/analysis/documentation/Pass8_edisp_usage.html
seems to work for **positive** values of edisp_bins.
Attempting to set edisp_bins to negative values, e.g. edisp_bins=-2 and checking if everything went fine:
conf = BinnedConfig(edisp_bins=-2)
print 'Conf edisp_bins = ' , conf.edisp_bins()
I've  go

[2020-04-09 21:22] eacharles commented on #61
Ok, there was a bug that it was writing the y-pixel centers to the EBOUNDS HDU.   I fixed that, but the default is to only write the EBOUNDS for the original energy binning, not the extra bins.   I wanted to check if you needed the extra bins in the EBOUND HDU, or the original energy bins.

I also fixed the help string the in .par file to ask for the number of "extra bins" on "each side" of the sp

[2020-04-10 19:58] eacharles opened #66 "Include spectral all models define in likelihood package in the pyLikelihood interface."
Following the instructions here:

https://github.com/fermi-lat/Fermitools-conda/wiki/Contributing-to-the-Fermitools#pylikelihood

[2020-04-14 06:50] me-manu commented on #61
Thanks, Eric.
That should be fine, only the observed energy bins were missing. The true energy bins (with the appended bins on either side) are in the DRM HDU. I'm going ahead and close this issue.

[2020-04-14 06:50] #61 closed

[2020-05-03 06:28] Sanjuphysics12 opened #69 "RuntimeError: Attempt to set the value outside of existing bounds"
I am getting the following error during likelihood analysis/lightcurve generation (for a particular time segment), kindly tell me the reason and solution.

"RuntimeError: Attempt to set the value outside of existing bounds"

[2020-05-15 03:50] sundar3492 opened #70 "Re: Issue to launching GT Burst Software"
I am a regular user of gt burst software and due to some reason, I had to uninstall my UBUNTU 18.04.
After that, I follow the same procedure which is given in the link "https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions".
But the problem is that the GT burst software is launching.
It shows some issue, after type the command in terminal "conda activate fermi" and the comma

[2020-05-15 05:04] #70 closed

[2020-05-15 05:04] sundar3492 commented on #70
it is solved

[2020-05-22 08:13] phbruel opened #71 "xml related warning message in FermiTools 1.9.4"
I get what seems warning messages when creating a standard binnedAnalysis.
Using a xml file containing only one source:
<?xml version="1.0" standalone="no"?>
<source_library title="source library">
  <source name="PSR4FGL J0835.3-4510" type="PointSource">
    <spectrum type="PLSuperExpCutoff2" apply_edisp="true">
      <parameter free="1" max="10000.000000" min="1e-20" name="Prefactor" scale="1e-0

[2020-05-22 08:14] phbruel opened #72 "P8R3_V3 IRFs are missing in FermiTools 1.9.4"
The new IRFs (P8R3_V3) are not available in 1.9.4.

gtirfs | grep P8R3 | grep ULTRACLEANVETO
P8R3_ULTRACLEANVETO_V2 ( = P8R3_ULTRACLEANVETO_V2::BACK + P8R3_ULTRACLEANVETO_V2::FRONT )
P8R3_ULTRACLEANVETO_V2 (EDISP) ( = P8R3_ULTRACLEANVETO_V2::EDISP0 + P8R3_ULTRACLEANVETO_V2::EDISP1 + P8R3_ULTRACLEANVETO_V2::EDISP2 + P8R3_ULTRACLEANVETO_V2::EDISP3 )
P8R3_ULTRACLEANVETO_V2 (PSF) ( = P8R3_ULTRACLEANVE

[2020-06-01 17:08] dagorym commented on #71
This is should be fixed in 1.9.6

[2020-06-01 21:28] #69 closed

[2020-06-15 07:36] Fredtrotteville opened #73 "Change of key name Spectral_Index in gll_psc_v19.fit"
In previous versions of Fermi catalog like gll_psc_v16 there used to be a key "Spectral_Index". But in recent versions v19 I cannot access it as before in NAXIS2 as before. Can anyone please tell me how to access it. Thanks for the help in advance.

[2020-06-15 08:51] jballet commented on #73
Yes, that is correct. Between 3FGL and 4FGL we deleted the column Spectral_Index because it was ambiguous (it had a different meaning depending on SpectrumType).
There are now different columns for each spectral model (PowerLaw, LogParabola and PLSuperExpCutoff), called PL_Index (same as PowerLaw_Index in 3FGL, but renamed for consistency with new column names), LP_Index and PLEC_Index. Each sourc

[2020-06-15 09:22] Fredtrotteville commented on #73
Thanks for the explanation. This helped a lot.

[2020-06-15 09:22] #73 closed

[2020-06-24 19:30] Areustle opened #75 "Package List is maintained by another repo"
The Fermitools should maintain it's own "packageList.txt" to support version controlled and reproducible builds.

[2020-06-24 19:32] Areustle opened #76 "Azure Pipeline should tag development builds"
The CI in Azure pipelines should apply git tags to successful development builds of the fermitools. These tags should match the version numbers of the fermitools packages in the conda channel.

[2020-06-24 19:34] Areustle opened #77 "Use Repoman checkout-list"
The repoman call in conda build should use packagelist.txt instead of the difficult to reproduce refs list.

[2020-06-24 19:35] Areustle opened #78 "Conda build build source checkout stage"
The source checkout stage of conda-build should be transitioned to a called script that can be run independently of conda-build.

[2020-06-24 19:36] Areustle opened #79 "Conda build compile stage"
The scons compilation stage of conda-build should be transitioned to a called script that can be run independently of conda-build.

[2020-06-24 19:37] Areustle opened #80 "Conda build dependencies"
The build dependency download stage of conda-build should be transitioned to a called script that can be run independently of conda-build.

[2020-06-24 19:38] Areustle opened #81 "Conda build install stage"
The build product install stage of conda-build should be transitioned to a called script that can be run independently of conda-build. If possible this should be a part of the compilation stage.

[2020-06-24 19:46] Areustle commented on #75
Developers can checkout the full set of fermitools components with

repoman checkout Fermitools-conda refs...

instead of repoman checkout Sciencetools refs..

Developers wishing to incorporate packages into the main release can update this packageList with the new refname. Now the specific package refs used to make a build will be versioned by fermitools-conda.

[2020-06-26 11:05] omersajid9 commented on #45
@jasercion The latest version, I think, is 1.2.23. I tried updating it to it but still I am getting the errors similar to landriu:

Parameter ptsrc not found in parameter group gtlike (at /local/data/glitz1/gssctest/miniconda2/envs/build/conda-bld/fermitools_1580999712705/work/hoops/build/redhat6-x86_64-64bit-gcc48/src/hoops_group.cxx: 67)
Using default value of 1 for parameter ptsrc
Parameter con

[2020-06-26 17:36] donhorner commented on #45
@omersajid9 You can just ignore these warnings for now.  This will be fixed for the next release, which has been delayed for various reasons, but hopefully will be out soon.

[2020-07-26 11:17] cxwx commented on #44
Now, It's time to switch to python3, any new plan?

[2020-07-27 19:32] donhorner commented on #44
We're hoping to get a release out soon.  The Python 3 changes have been done, but other issues have cropped up that keep delaying the release.

[2020-07-31 19:11] jasercion commented on #45
@landriu This appears to be fixed in my latest testing of dev/beta version 1.3.4.  Closing issue.

[2020-07-31 19:11] #45 closed

[2020-07-31 19:18] jasercion commented on #48
All changes in the ft_conda_48 branch exist in the master branch so I assume this is fixed.  @landriu can you please verify in

`conda install -c conda-forge -c fermi -c fermi/label/dev fermitools=1.3.4`

[2020-08-20 15:18] Areustle opened #86 "Fermitools-conda should be included in packages tagged by the pipeline."
Explicitly include fermitools-conda in the set of packages tagged by the pipeline.

[2020-08-27 11:35] landriu commented on #48
I did :

[landriu@sappcfermi] ~/dev/testGtSrcMaps/testTH > conda activate fermi-1.3.5
(fermi-1.3.5)
[landriu@sappcfermi] ~/dev/testGtSrcMaps/testTH > gtsrcmaps scfile=ft2_july09_pass8.fits expcube=ltCube_105.fits cmap=count_cube_1_E3.fits srcmdl=srcModel_1_E3.xml-initial bexpmap=binned_exposure_E3.fits wmap=none outfile=srcMap_1_E3.fits irfs=CALDB ptsrc=no chatter=4
This is gtsrcmaps version HEAD

[2020-08-27 11:35] #48 closed

[2020-08-27 14:51] #86 closed

[2020-08-27 14:51] #75 closed

[2020-08-27 14:51] #76 closed

[2020-08-27 14:51] #77 closed

[2020-08-27 14:51] #78 closed

[2020-08-27 14:51] #79 closed

[2020-08-27 14:51] #80 closed

[2020-08-27 14:51] #81 closed

[2020-08-27 18:52] donhorner commented on #71
@phbruel Can you check this with the latest betas and confirm that it has been fixed?

[2020-08-27 18:53] donhorner commented on #72
I'm closing this issue since the IRFs seem to be present.

[2020-08-27 18:53] #72 closed

[2020-08-27 20:46] donhorner commented on #52
@landriu Is this still an issue or can it be closed?

[2020-08-28 08:23] landriu commented on #52
Hi Don,

  I have sent the following commands :

from BinnedAnalysis import *
obs = BinnedObs( irfs="CALDB", expCube="ltCube_100.fits", srcMaps="srcMap_5_E1.fits",binnedExpMap="binned_exposure_E1.fits")
like = BinnedAnalysis(obs,"srcModel_5_E1.xml-initial",optimizer="Minuit", edisp_bins=0)

   and I still get the same outputs, with fermi-1.3.5 :

(fermi-1.3.5)
[landriu@sappcfermi] ~/dev/testEdisp_

[2020-08-28 08:54] landriu commented on #43
Hi,

  test is now working with beta : fermi-1.3.5 on both machines :

(fermi-1.3.5)
[landriu@sappcfermi] ~/dev/testFermi_beta/simple-with-1.3.5 > python
Python 2.7.15 | packaged by conda-forge | (default, Mar  5 2020, 14:56:06)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.
*** Using startup saving python history in ~/.pyhistory ***

(fermi-1.3.5)

[2020-08-28 08:54] #43 closed

[2020-08-28 09:42] landriu commented on #14
Hi Jon,

  for some months now, we have adopted the use of conda environments, and then the
locations  of releases are related to the anaconda installation, and once we have
chosen a consistent place where to put anaconda, there should not be now problems of room .

This topic was due to the fact I was not accustomed to the conda philosophy and had to adapt
coming from my old work organisation.

I

[2020-08-28 09:42] #14 closed

[2020-08-28 09:51] landriu commented on #15
It works indeed, I can close this issue

  Thank you again.

   Cheers

[2020-08-28 09:51] #15 closed

[2020-08-28 09:55] landriu commented on #13
Hi ,

   I have trained for some months to use the conda environments, which are all stored
in the conda/envs directory, and it seems if I am not mistaking, that anaconda is doing
a kind of releases management, not reinstalling the components when already defined.

  We could then consider using conda environments is a solution to this problem .

[2020-08-29 00:44] Areustle commented on #13
Hi David,

I've been working on a system to do exactly this, making development easier for local builds without relying on conda-build. It should be viable for all future releases, as well as our current beta releases 1.3.6 and 1.9.13

https://github.com/fermi-lat/fermi_dev_scripts.

[2020-08-31 19:46] jasercion commented on #52
@landriu To apply the weighed bins you need to create a `BinnedConfig` object and pass that object to `BinnedAnalysis`.  This should work:

`from BinnedAnalysis import *`
`conf = BinnedConfig(edisp_bins=0)`
`obs = BinnedObs( irfs="CALDB", expCube="ltCube_100.fits", srcMaps="srcMap_5_E1.fits",binnedExpMap="binned_exposure_E1.fits")`
`like = BinnedAnalysis(obs,"srcModel_5_E1.xml-initial",optimizer="

[2020-08-31 19:47] jasercion commented on #52
Please let me know if you run into any other problems or if this works and we can close out the issue.

[2020-09-02 08:27] jballet commented on #52
Where is this documented? I have looked at the FSSC documentation, but [https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html](url) does not mention python, and [https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/python_tutorial.html](url) does not mention binned analysis, although [https://fermi.gsfc.nasa.gov/ssc/data/analysis/LAT_essentials.html](url) says bi

[2020-09-02 14:38] donhorner commented on #52
It's on the page [https://fermi.gsfc.nasa.gov/ssc/data/analysis/documentation/Pass8_edisp_usage.html](https://fermi.gsfc.nasa.gov/ssc/data/analysis/documentation/Pass8_edisp_usage.html)

This page is linked to in some of the other pages, but I'll talk to Nestor about updating the documentation to make the information more obvious, especially on the python pages.

[2020-09-02 15:27] jballet commented on #52
OK, I see it. I think what is missing (or I could not find it) is a python tutorial for binned analysis, which would include this.

[2020-09-08 18:48] jasercion commented on #52
Issue verified fixed in both the python3 and python2 beta builds.  Closing issue and referring documentation updates to @donhorner and @nmirabal .

[2020-09-08 18:48] #52 closed

[2020-09-10 08:56] phbruel commented on #71
I've performed a test with 1.9.13 and I confirm that I don't see the problem anymore.

[2020-09-11 15:16] jasercion commented on #71
Closing issue.

[2020-09-11 15:16] #71 closed

[2020-09-16 21:03] lauramog commented on #56
did you find the problem? I have the same issue running gtlike

[2020-09-16 21:09] lauramog opened #90 "Problem running gtlike"
Caught N3tip12TipExceptionE at the top level: Cannot read keyword "NDSKEYS" in file "binned_srcmaps.fits" (CFITSIO ERROR 202: keyword not found in header)

I have this problem running gtlike. can someone help me?
thanks!

[2020-09-16 21:11] #38 closed

[2020-09-17 05:49] lauramog commented on #90
Prior to this error I have a warning runnirg  gtsrcmaps :
Caught N10facilities14UntranslatableE at the top level: LATEXTDIR

help, please!!

[2020-09-17 19:02] nmirabal commented on #90
Do you have the latest version of the Fermitools?.
https://github.com/fermi-lat/Fermitools-conda/wiki/Quickstart-Guide

Can you check whether you can run the following analysis thread
 https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html

[2020-09-21 20:03] lauramog commented on #90
I ran the binned analysis with the files of the example, but I had a problem with gtlike:
the message was:
Computing TS values for each source (218 total)
........................................................................................Caught N10optimizers11OutOfBoundsE at the top level: Attempt to set the value outside of existing bounds.

3C279_binned_output.xml wasn't generated.

[2020-09-22 14:41] donhorner commented on #44
Fermitools 2.0 which contains the py3 update has been released.  See the [release notes](https://github.com/fermi-lat/Fermitools-conda/wiki/Release-Notes).

[2020-09-22 14:41] #44 closed

[2020-09-22 16:48] paulray opened #91 "conda install fails"
Hi,

Just tried to install fermitools using conda for the first time (I was waiting for Python 3 support). It fails and I have no idea why. Here is the key info on my CentOS 7 system

[code]

[2020-09-22 17:19] lauramog opened #92 "Performance of Fermitools in a virtual server."
How is the performance of FermiTools installed in a virtual server, I mean if i need to run a binned likelihood analysis is a good idea install fermi environment in a virtual server of digital ocean?

Thanks!!!

[2020-09-22 18:25] lauramog commented on #91
I am facing the same issue, I uninstalled fermitools due a problem running a binned likelihood Analysis, and try to install it again and I have the same problem as you:

Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving enviro

[2020-09-22 18:32] paulray commented on #91
I've been playing with this, and I saw the note about channel priority, so I changed the channel priority from "strict" to "flexible" in  my .condarc.  Now it seems to work. At least I was able to create and activate the channel and gtbin runs!

[2020-09-22 18:46] nmirabal commented on #90
Unfortunately, I haven't been able to reproduce this issue. My suggestion  is to  download the latest fermitools that was just released and try again. You can start with the event and spacecraft files but run each step in the analysis thread in your OS. Here are the instructions on how to upgrade the fermitools
https://github.com/fermi-lat/Fermitools-conda/wiki/Quickstart-Guide

[2020-09-22 18:57] lauramog commented on #91
I'm. going to try it.  Thanks for reply!

[2020-09-22 20:40] lauramog commented on #90
Okay, I'm working on it. thanks for your help!!

[2020-09-23 15:27] donhorner commented on #91
I'm glad you found a workaround.  We'll add this to the FSSC's list of things to investigate.

[2020-09-23 19:46] lauramog opened #93 "Installing Fermitools in python 3."
I'm installing fermitools via conda:
conda create -n fermi -c conda-forge/label/cf201901 -c fermi fermitools
 In MacOS,  which has by default has python 2.7.

So, I try install it in python 3 in differents way:
conda create -n fermi -c conda-forge -c fermi fermitools  python=3
conda create -n fermi -c conda-forge -c fermi fermitools  python=3.7

but when I check with -conda info-, it was installed

[2020-09-23 19:55] #92 closed

[2020-09-23 20:10] donhorner commented on #93
What does 'conda list python' tell you when you have the fermi environment activated?  Or 'python --version'?  I think 'conda info' is telling you what version of python conda was installed with (via anaconda or miniconda).  That doesn't matter for the Fermitools, conda will install python3 if needed.

Also, you shouldn't use the cf201901 label to install Fermitools 2.0, just 'conda create -n ferm

[2020-09-23 20:17] KenAnderson84 opened #94 "Problem with gtexpcube2. new version of Fermitools"
Hello,

I'm just install the new version of Fermitools in python 3, I'm probing it with the Binned Likelihood Analysis (https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html), but I  found an  error with gtexpcube2,

Caught St13runtime_error at the top level: Invalid IRF name: P8R3_SOURCE_V3

I have tried with other names (  iso_P8R3_SOURCE_V3_v1.txt, P8R3_SOURCE_V

[2020-09-23 20:26] lauramog commented on #93
Yes, I just realized when I check python --version it is  3.7.8.
Thanks for reply so soon.

[2020-09-23 20:27] #93 closed

[2020-09-24 14:05] jasercion commented on #94
Hi @KenAnderson84,

Just to clarify, is the error readout saying `Invalid IRF name: P8R3_SOURCE_V3` or `Invalid IRF name: ` (ending with a blank space)?

[2020-09-29 04:59] jasercion commented on #16
This has been superseded by recipe updates.  Closing issue.

[2020-09-29 04:59] #16 closed

[2020-09-29 05:00] jasercion commented on #20
@joeastro would you mind checking this in the Python3 release and letting me know if this is still an issue?

[2020-09-29 05:04] jasercion commented on #31
@phbruel Did you ever find a solution to this or is this still an ongoing issue?

[2020-09-29 06:27] phbruel commented on #31
WIth Fermitools 1.4.0 or 2.0.0 and ROOT 6, I can compile my code w/o problem. Thanks.

[2020-09-29 06:27] #31 closed

[2020-09-29 17:43] jleagle94 opened #95 "Updating Docker to run with Fermitools 2.0.0"
Hi all,

I use the docker container (currently up to date at version 2.3.0.5) to pull the fssc/fermibottle and then do my analysis that way. The fermibottle container is behind (conda 4.6.14 with fermitools 1.0.5) so I tried to update conda in order to update fermitools to 2.0.0 and here is the prescription I followed:
[code]

To update conda to 4.8.* I run the following
[code]

This allows conda

[2020-09-29 18:35] Areustle commented on #95
Thank you for the detailed report. I will generate a new version of the Fermibottle docker container with updated versions of conda, the Fermitools, and other software.

It appears that your final issue is being caused by a bug in the way fermipy is interacting with conda, rather than the Fermitools themselves. I will try to reproduce and fix that issue within Fermibottle

[2020-09-29 20:42] dagorym commented on #12
Looking at this at bit more, I don't see a big actual memory usage in the examples above.  Here's what I see (from top)

[code]

Now VIRT is just all the memory that "could" be addressed by the program including shared libraries, disk files, etc.  RES is the memory actually used.  SHR is the portion of the RES memory that is shared with other program.  The relevant bit is the RES column.  That's t

[2020-09-29 21:08] Areustle commented on #95
This issue will now be resolved in future versions of the FermiBottle. The problem @jleagle94 experienced came from minor differences in the python2 and python3 versions of the subprocess library. These differences should pose no problem outside of the FermiBottle docker container.

Explicitly when the fermi conda environment is activated the "conda" executable is no longer in the $PATH. It remain

[2020-09-29 22:22] Areustle commented on #95
Dev image now available on dockerhub: https://hub.docker.com/layers/fssc/fermibottle/dev/images/sha256-edc69b9c4bdece730632c9b9209caaa2d7ebeae94f37346bd9b3737b4e26c43a?context=repo

[2020-09-30 07:49] jballet commented on #12
I am sure you are right. I had tried here to understand whether any part of the memory use could come from the initializations, but the main issue was certainly [Likelihood/90](https://github.com/fermi-lat/Likelihood/issues/90) that you solved yesterday.

[2020-09-30 07:49] #12 closed

[2020-09-30 12:21] jleagle94 commented on #95
This indeed fixes the issue but unfortunately another one arises that occurs on both Docker and my new python3 Fermitools 2.0 environment on my local machine (MacOS Catalina 10.15.6). It is still when I read in the config file. It now reads as a python runtime error:
[code]

I thought it was a conflicting problem with Catalina but since it now occurs on the Docker set up (after running the `sudo l

[2020-09-30 12:33] Areustle commented on #95
This looks more like an issue with fermipy than with the fermitools or the docker container. Perhaps they failed to properly update to the new python3 way of iterating over a dictionary. Is recommended taking it up with them in either their GitHub repo or the slack channel.

[2020-09-30 13:26] jleagle94 commented on #95
ok great, will contact them then, thanks!

[2020-09-30 17:18] #95 closed

[2020-09-30 17:40] paulray opened #96 "PFILES not including $HOME/pfiles"
Hi,

I installed fermitools conda on our CentOS 7 linux box.

I use zsh as my shell and when I `conda activate fermi`, I get a PFILES envariable that has `.:/home/paulr/pfiles:/Software/miniconda3/envs/fermi/share/fermitools/syspfiles`. That works great.

However, when my tcsh users (including me) activate, the PFILES is instead set to `/Software/miniconda3/envs/fermi/share/fermitools/syspfiles:/S

[2020-09-30 22:09] KenAnderson84 commented on #94
Hi, thanks for reply.
the error is: Invalid IRF name: P8R3_SOURCE_V3  (ending with  P8R3_SOURCE_V3  )

[2020-10-01 17:25] donhorner commented on #96
Hi Paul,
It looks to me like the problem is line 13 of the csh Fermitools activation script, which resets PFILES to just have the syspfiles directory.  The corresponding line in the bash activation script is commented out, and I think it needs to be in the csh version too.  I've asked @jasercion to look into it since he's the keeper of the activation scripts.  In the meantime, I think you can comm

[2020-10-01 19:32] paulray commented on #96
Thanks! I think you are missing a "etc" in that path, but I found it and made the change. It didn't work initially because later in the script it used $PFILES. I fixed that bit and now it works and PFILES comes out correct. Strangely I get a bonus command not found error that pops up:
[code]

[2020-10-10 10:54] sarabuson commented on #59
Hi, I have run into this issue many times as well. When computing e.g. a few hundreds lightcurves, 1% of the time-bins crash and most problems are related to this srcmap issue. I made several tests. I run with ki-ls machines, both command line and submitting jobs to other hosts. I tried also e.g. rhel6-64f command line and still get "Floating point exception".

I checked carefully one such time bi

[2020-10-14 15:45] jasercion commented on #94
Hi @KenAnderson84, apologies for the late response.  This should be fixed in our latest release.  Would you mind updating to `Fermitools=2.0.0` and letting me know if the problem still occurs?

[2020-10-14 18:59] jasercion commented on #91
Hi @paulray, I'm unable to replicate this problem in a clean centos7 container.  Did you have this issue on any other machines by any chance?

[2020-10-14 19:04] paulray commented on #91
No, sorry. I've only installed it on that one machine. I could try on my Mac, but I doubt that would be illuminating.  I'll let you know if I see it again.

[2020-10-14 19:04] jasercion commented on #91
@lauramog Were you also using a CentOS7 machine?

[2020-10-14 19:04] jasercion commented on #91
Thanks!

[2020-10-19 15:59] jasercion commented on #66
@donhorner Do we have documentation anywhere that lists all valid spectral models that should be accessible in Likelihood?

[2020-10-19 16:03] jasercion commented on #94
I have been unable to replicate this in my own testing.

[2020-10-19 17:22] donhorner commented on #66
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/source_models.html

[2020-10-19 19:55] joeastro commented on #20
Happy to report that this issue is no longer present in the latest release of the tools.

[2020-10-19 19:55] #20 closed

[2020-10-20 16:28] dagorym commented on #59
@sarabuson Do you have a set of test files I could use to recreated this issue?

This may be the same problem as this issue: https://github.com/fermi-lat/Likelihood/issues/83 but would like to verify.  The files referenced by @me-manu are not longer present on the SLAC computers for me to grab.

But given the error me-manu posted from fermipy, it may be that the source map file is not being create

[2020-10-21 18:20] jasercion commented on #28
This still needs to be fixed.  Going to add this as a low priority enhancement for the next release.

[2020-10-21 18:28] jasercion commented on #35
@nmirabal Would you mind checking if this is still occurring in the Fermitools 2.0.0 release of the tools?

[2020-10-21 18:30] jasercion commented on #36
Hi @Sanjuphysics12, would you mind updating to Fermitools 2.0.0 and seeing if this is still occurring?  A number of changes have been implemented between the previous release and this one so the problem may be resolved.

[2020-10-22 07:01] landriu commented on #35
Hello Jon,

    I tried on my side and it works using fermi-2.0.0 :

(fermi-2.0.0)
[landriu@sappcfermi] ~/dev/testBinnedAnalysis/testFermi-2.0.0 > python
*Python 3.7.8 | packaged by conda-forge | (default, Jul 31 2020, 02:25:08)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Generating SourceMap for PSRJ0534+2200 11.....................!

<bound method

[2020-10-23 15:53] dagorym commented on #59
I'm going to mark this one as resolved unless it comes up again with the new version of gtsrcmaps and someone can provide sample files that reproduce the issue.

[2020-10-23 15:55] sarabuson commented on #59
Hi Tom, this is not solved. It comes up any time I run light curves.. I have been very busy with other work but will provide you with the files and more info shortly (I have many of them..).

[2020-10-23 16:33] dagorym commented on #59
Okay, once you send me some files, I'll track this one down.  Thanks.

[2020-10-28 15:45] #35 closed

[2020-11-01 11:17] sarabuson commented on #59
I've provided Tom with a (not-)working example and post here few additional useful info just for future reference.

What I found after five full days of investigation:
1. If I analyze this same dataset with unbinned likelihoood, it all is fine. So the issue is with binned likelihood, and with the gtsrcmap tool itself.
(now on referring to binned likelihood:)
2. the problem are a couple of sources

[2020-11-03 20:32] dagorym commented on #59
Okay, the issue was a divide by zero (as expected) in a part of the code that was generating a scaling factor by dividing by the integral over the PSF.  For sources with no exposure, this PSF is zero, hence the error.  I added a guard that checked for the zero valued integral and just set the scaling factor to zero in that case since zero time zero will still be zero, this doesn't affect the analy

[2020-11-14 04:42] basuparth commented on #91
Ran into the same error on Ubuntu 20.04. conda first fails with frozen solve then automatically shifts to flexible solve but with no effect. I also tried setting the channel to flexible from the outset but with no avail. Downgrading conda versions to 4.6 etc also don't work. Incidentally I faced no problem while installing the Gravitational wave analysis environment using igwn-py37.yaml by executi

[2020-11-16 16:21] donhorner commented on #91
@basuparth  According to your log, you are trying to install version 1.0.10.  That's a rather old version.  Is that what you mean to do?  If so, you will also need to use the cf201901 label as described here:  https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions#downgrading

[2020-11-16 16:37] basuparth commented on #91
Oh Sorry, I didn't mean to attach this log. I got the older 1.0.10 version installed by adding the cf201901 later(really sorry about not adding an update/edit sooner), but the recent version 2.0.0  could not be installed successfully on Ubuntu 20.04.1. I downgraded the version to Ubuntu 18.04 but the conda-forge channel kept trying to resolve the environment for over 4 hrs after which I terminated

[2020-11-16 20:42] jasercion commented on #66
The dev build `fermitools=2.0.6` should have all models in Likelihood implemented in pyLikelihood with the exception of SmoothDoubleBrokenPowerLaw, which is throwing an error at compile time.  Currently debugging that issue and will post an update when finished.

[2020-11-17 19:09] jasercion commented on #66
Ok, all models available in Likelihood should (hopefully) be available now in pyLikelihood as of the most recent `fermitools=2.0.6` dev build.  @donhorner would you mind pinging someone to verify this?  It can be installed in a python3 environment using the command:

`conda install -c conda-forge -c fermi/label/dev fermitools=2.0.6`

[2020-11-20 21:37] donhorner commented on #66
I tested 2.0.6 and the missing Likelihood model all seem to be in pyLikelihood now.  I was able to stick them in the input XML file, and pylike was able to run a fit. Mis-naming a parameter in the XML file causes the fit to fail with a parameter not found error, so it definitely seems to be calling the model definitions in the code.

[2020-11-20 21:37] #66 closed

[2020-11-23 18:13] dagorym commented on #59
These newest versions seem to have resolved the issue and Sara has reported that it is working now.

[2020-11-23 18:13] #59 closed

[2020-11-24 19:24] jasercion commented on #91
Hi @basuparth, this seems to be a dependency resolution issue.  I'm working on tracking it down but could you please try this command to create the environment/install the python3 tools and let me know if it works on your machine?

`conda create -n fermi -c conda-forge -c fermi fermitools python=3`

Manually specifying the python version seems to solve the problem.

[2020-11-25 04:17] basuparth commented on #91
Thanks, @jasercion this solves the problem.

[2020-11-27 14:36] laofei177 opened #97 "modeleditor"
(fermi) laofei@laofei-pc:~/Desktop/001/bin$ modeleditor
AttributeError Exception in Tk callback
  Function: <bound method ModelEditorApp._onFileOpen of <__main__.ModelEditorApp object .!modeleditorapp>> (type: <class 'method'>)
  Args: ()
Traceback (innermost last):
  File "/home/laofei/anaconda3/envs/fermi/lib/python3.7/site-packages/Pmw/Pmw_2_0_1/lib/PmwBase.py", line 1776, in __call__
    retur

[2020-11-27 14:43] laofei177 commented on #97
The modeleditor command can be turned on，but it can't open the .XML file? The above errors are produced when I used the modeleditor command to open the .XML file. How to solve this problem? Here I sincerely express my thanks!

[2020-11-29 02:06] laofei177 opened #98 "Attempt to set the value outside of existing bounds."
Computing TS values for each source (627 total)
.............................................................................Caught N10optimizers11OutOfBoundsE at the top level: Attempt to set the value outside of existing bounds.

What's the reason caused this?How to do it?

[2020-11-30 16:27] nmirabal commented on #98
Fitting faint sources can cause this type of issue. You can use make4FGLxml.py to fix all source parameters for faint sources below a certain TS value. Try the -s argument in make4FGLxml.py  as explained at the end of the file
https://fermi.gsfc.nasa.gov/ssc/data/analysis/user/python3/make4FGLxml.py

[2020-11-30 19:22] dagorym commented on #97
@laofei177 Which version of the Fermitools were you using?  Also, could you attach a copy of the xml file you were trying to open?  Thanks.

[2020-11-30 22:23] dagorym commented on #97
I found the problem.  It was some old python 2 code that didn't get converted to the Python 3 syntax.  I've fixed it now.  The fix is in commit https://github.com/fermi-lat/modelEditor/commit/20a4a7e48b9faa0765dbbae11a59afbbcaa37c66

[2020-11-30 22:57] dagorym commented on #97
@laofei177 the attached .zip file has a new version of the Element.py file that has the error.  Download it and unzip it.  Then take the Element.py file and replace the offending one.  From your error, it looks like it needs to go in

/home/laofei/anaconda3/envs/fermi/lib/python3.7/site-packages/fermitools/

on your system.  Just copy it there. Then try running modelEditor again and let us know if

[2020-12-07 16:07] nmirabal commented on #52
A tutorial on binned likelihood analysis with energy dispersion is now available at
[](https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binnededisp_tutorial.html)

[2020-12-07 16:23] dmalishev commented on #52
Thanks for putting this to the tutorial!

Just noticed, that gtexpcube2 also have (hidden) parameter edisp_bins:
https://raw.githubusercontent.com/fermi-lat/fermitools-fhelp/master/gtexpcube2.txt
should it be explicitly set to -2 as well? It is not set in the current tutorial.

Same for gtsrcmap step:
https://raw.githubusercontent.com/fermi-lat/fermitools-fhelp/master/gtsrcmaps.txt
should edisp_bi

[2020-12-07 16:59] jballet commented on #52
The edisp_bins parameter is useful to gtexpcube2 and gtsrcmaps only if you want to set it positive in the fit (this requires having a spatial model beyond the energy interval used in the analysis). It can be ignored if you set edisp_bins to a negative value in the fit.

[2020-12-22 11:10] AstrophysicsAndPython opened #99 "RuntimeError while performing JointLikelihood analysis on LAT data"
Having installed the latest version of `Fermitools` with `threeML` library I'm getting a `RuntimeError` with LAT data when using the `JointLikelihood` analysis. Referring to [issue # 397](https://github.com/threeML/threeML/issues/397) I opened in threeML repository, I'm posting the traceback here for the error.

[code]

[2020-12-22 15:25] grburgess opened #100 "import error in pyLike"
I am running some basic tests with Fermipy and upon import of pyLike, I get the following error:

[code]

My guess is a ROOT library is missing. This is run on a clean install of Ubuntu via conda.

[2020-12-22 16:59] grburgess commented on #100
Also, this is a python 3.7 install

[2020-12-31 13:25] ldivenere commented on #100
I have the same error when importing pyLikelihood. Also in my case, I have a fresh instalation on Ubuntu.
It seems that CLHEP is present, but with the wrong version. I can find version 2.4.4.0, while 2.4.1.3 is required.

[code]
In this installation I have ROOT 6.22/06:
[code]
In an old installation (same fermitools version, but installed one month ago), I have ROOT 6.22/02, with libCLHEP-2.4.1.3.

[2020-12-31 17:02] grburgess commented on #100
@ldivenere is this a clean install with the latest conda version as well?

[2021-01-05 14:53] ldivenere commented on #100
yes, it was a clean install with the latest conda version. These are the details of the conda installed and of the linux system:
[code]

[2021-01-05 15:16] grburgess commented on #100
Thanks. Yeah, still cannot find a way to debug this..

[2021-01-05 19:40] paulray opened #101 "Import error"
I get a failure now when trying to import BinnedAnalysis.  This is after updating conda and fermitools.
Any suggestions?

[code]

And here is my conda list:
[code]

[2021-01-05 19:44] paulray commented on #101
Hmm. I just tried downgrading my clhep package, but now root crashes:
[code]

[2021-01-06 04:05] grburgess commented on #101
Same issues as #100

[2021-01-06 12:52] paulray commented on #100
conda is relatively new to me, but the more I use it the more I hate it.

[2021-01-06 15:42] kerrm commented on #100
Doesn't solve the issue, but if you just conda install that particular version of CLHEP, it seems to work.  (At least I was able to run basic command line fermi tools.)

[2021-01-06 16:10] ldivenere commented on #100
Also in my case, I tried to downgrade both ROOT to version 6.22.2 and CLHEP to 2.4.1.3.
I get the same errors as in issue #101, but fermitools and fermipy seem to work.

[2021-01-06 16:37] donhorner commented on #101
@paulray Alex is looking into it, but in the meantime you can try adding "clhep=2.4.1.3" to the end of the command line when running the fermitools install command (rather than doing it separately later).  I get a version of the tools where the BinnedAnalysis import works.

[2021-01-06 18:20] Areustle commented on #100
I have built version 2.0.7.0 of the Fermitools to link against CLHEP 2.4.4.0 . the dev build is available on anaconda cloud. If @paulray is growing to hate conda, I suggest downloading and using mamba in it's place for faster dependency resolution and acquisition. mamba implements a sane SAT solver algorithm in C++ rather than the slow loop-based python implementation that conda uses.

`mamba crea

[2021-01-06 18:28] Areustle commented on #101
I rebuilt the tools against CLHEP 2.4.4.0 and uploaded to the dev label on conda-forge. You can access it with
`conda  create -n fermi -c conda-forge -c fermi/label/dev fermitools=2.0.7.0 python=3`.

[2021-01-07 18:07] paulray commented on #100
I haven't tried mamba, but the 2.0.7 build does seem to work. Thanks!  When will a version after 2.0 be released on the non-dev channel?

[2021-01-07 18:07] paulray commented on #101
Thanks for the fix!

[2021-01-07 18:07] #101 closed

[2021-01-07 18:09] paulray opened #102 "astropy version?"
Some of the tools we use for pulsar analysis of LAT data require astropy>=4.0. It seems like the fermitools conda environment only allows up to astropy=3.2.3.  Is there a way to allow astropy to get bumped up in version?

[2021-01-07 18:11] #91 closed

[2021-01-07 18:33] donhorner commented on #100
I'm hoping we can get a release out soon with at least this patch and a few others.  However, we're effectively short staffed at the moment and have some non-Fermitools related deadlines for the AAS meeting next week that we're dealing with, so I don't want to make any promises.

[2021-01-07 18:40] donhorner commented on #102
I think we pinned it at 3.0 because 4.0 caused problems with some of the tools.  We'll have to revisit that and see if the issues persist or can be corrected.

[2021-01-07 18:42] paulray commented on #102
Thanks!

[2021-01-14 16:47] BordeauxDave commented on #100
Hello y'all. I'm new at this. Installed miniconda and fermitools this afternoon following https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions and the first thing I tried to run was gtselect, and it failed with

error while loading shared libraries: libCLHEP-2.4.1.3.so: cannot open shared object file: No such file or directory

So I simply found that I already had an old 2.

[2021-01-14 19:10] nmirabal commented on #100
Until we release a new version. The following appears to be working
conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.1.3

[2021-01-15 11:22] BordeauxDave commented on #100
I was nervous about what "create" would do when I already had a "fermi", so first I did
conda remove --name fermi --all
and then your command, and now gtselect works without my LD_LIBRARY_PATH kluge.

[2021-01-20 19:54] donhorner commented on #100
We've released Fermitools 2.0.8 which should fix this issue and several other things.   Please check the [Release Notes](https://github.com/fermi-lat/Fermitools-conda/wiki/Release-Notes).

If you have the Fermitools 2 already installed, you can update to the new version using the command:
`conda update -c conda-forge  -c fermi fermitools`
and then reactivate your fermi environment for the changes

[2021-01-20 19:54] #100 closed

[2021-01-20 20:39] #94 closed

[2021-01-20 20:40] #36 closed

[2021-01-20 20:41] #90 closed

[2021-01-21 04:48] grburgess commented on #100
Thanks for that !

[2021-02-03 10:50] landriu opened #103 "python core dump when doing import from UnbinnedAnalysis or BinnedAnalysys"
Hi all,

 after having installed fermi-2.0.8, and working in python environment
 I met the following error :

[landriu@sappcfermi] ~ > python
Python 3.7.9 | packaged by conda-forge | (default, Dec  9 2020, 21:08:20)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
*** Using startup saving python history in ~/.pyhistory ***

terminate called after throwing

[2021-02-03 16:51] donhorner commented on #103
I tried on several mac and linux installations of 2.0.8 but can't reproduce this error.  The imports always work fine.

I wonder if something got corrupted in your install.  Can you check if caldb.indx is a valid FITS file?  Maybe run fverify on it or open it with fv?

[2021-02-04 07:14] landriu commented on #103
Hello Don,

  I have done fverify on caldb.indx and no error has been found with fverify :

[landriu@sappcfermi] ~ > fverify /dsm/manip/glast/anaconda3/envs/fermi-2.0.8/share/fermitools/data/caldb/data/glast/lat/caldb.indx

                      FVERIFY V4.18 (CFITSIO V3.440)
                      ------------------------------

HEASARC conventions are being checked.

File: /dsm/manip/glast/anacon

[2021-02-05 16:18] jasercion commented on #103
Hi @landriu, does the error provide a CFITSIO error code or any other traceback information?  My quick read is that there is either an issue with the caldb index file itself or there's a cfitsio library problem.  Are you able to perform any other fits file manipulations with just the Fermitools executables outside of the python interface?  Also, can you directly perform any sort of binned or unbin

[2021-02-08 08:45] landriu commented on #103
Hi Joe,

    I could launch gtirfs, gtsrcmap and gtexpmap commands  without error message :

[landriu@sappcfermi] ~/dev/TestFtoolsForFermi2.0.8 > gtirfs
P7CLEAN_V6 ( = P7CLEAN_V6::BACK + P7CLEAN_V6::FRONT )
P7CLEAN_V6::BACK
P7CLEAN_V6::FRONT
P7REP_CLEAN_V10 ( = P7REP_CLEAN_V10::BACK + P7REP_CLEAN_V10::FRONT )
P7REP_CLEAN_V10::BACK
P7REP_CLEAN_V10::FRONT
.../...
P8R3_ULTRACLEAN_V3::PSF0
P8R3_ULTRAC

[2021-02-08 09:03] landriu commented on #103
I should add that when writing first : "from UnbinnedAnalysis import *"
or "from BinnedAnalysis import *" no core dump appears,
and it is possible to define then : "import astropy.coordinates as coords".

[landriu@sappcfermi] ~ > python
Python 3.7.9 | packaged by conda-forge | (default, Dec  9 2020, 21:08:20)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more informatio

[2021-02-08 21:45] jasercion commented on #103
I'm almost certain that what is happening here is that there is a collision between libraries that are installed both by Fermitools and Astropy, likely cfitsio or a related lib, and that Fermitools is panicking when it attempts to identify and use on import the library imported by Astropy.  I'll keep poking at this to see if I can come up with a good solution to this, but for now unless it affects

[2021-02-08 21:49] jasercion commented on #103
I'll also add this + your workaround to our known issues page.

[2021-02-16 16:23] laofei177 commented on #97
@dagorym  I have tested it, no problem. Here I sincerely express my thanks.

[2021-02-16 16:24] laofei177 commented on #98
@nmirabal  here I sincerely express my thanks.

[2021-02-16 16:40] laofei177 opened #104 "run gtlike"
4FGL J2212.4+0708:
norm: 5.53552 +/- 0.49137
alpha: 2.35346 +/- 0.119901
beta: 5.68449 +/- 1.12019
Eb: 1.50802
TS value: 296.246
Flux: 4.16231e-09 +/- 7.63463e-10 photons/cm^2/s

4FGL J2212.6+2800:
Prefactor: 1.56398
Index: 2.16579
Scale: 1840.07
Flux: 7.20244e-09 photons/cm^2/s

I found that some sources have "TS value", some sources don't have "TS value", does it implies that the value is very s

[2021-02-16 18:19] #97 closed

[2021-02-16 18:20] #98 closed

[2021-02-16 20:02] kerrm commented on #104
It seems it is because this source was not fit during the analysis.  Try freeing at least one of its parameters in the source model and see if that works.

[2021-03-03 17:00] carmeloevoli opened #105 "Problem with gtltcube and CFITSIO"
Hi,
I have a problem with `gtltcube` which gives this error:
[code]

I used the spacecraft data `L2102260113087E6D776947_SC00.fits` and I built the `myevents_fermi_healpix.fits` with `gtbin` with the following settings
[code]

I hope you can help me to find the problem.

[2021-03-04 02:08] nmirabal commented on #105
gtltcube is expecting an event file not the output of gtbin. You can read an example here

https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html

[2021-03-05 10:59] carmeloevoli commented on #105
Thanks! It was really useful.

[2021-03-05 10:59] #105 closed

[2021-03-11 22:14] donhorner commented on #102
We now have a dev version that uses astropy 4.  You can give it a try if you'd like.  It's version 2.0.10.  You can install it into a new environment with:
`conda create -n fermi-2.0.10 -c conda-forge -c fermi/label/dev fermitools=2.0.10`

[2021-03-12 12:37] paulray commented on #102
I tried that install and it installed fine, but it segfaults when I  conda activate...

[code]

[2021-03-12 18:11] donhorner commented on #102
Hmm, I don't think I've ever seen this error before.  Can you tell me what OS and version are you using (e.g., the output of uname -a)?

[2021-03-12 21:12] paulray commented on #102
Sure, it is CentOS7:

`Linux heselin0.nrl.navy.mil 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2021-03-15 09:49] jasercion commented on #102
I'm getting a series of different but related errors when trying to activate this dev build on an Ubuntu system.  There's clearly some sort of ROOT related linking issue, I'm wondering if there was a compile time conflict with one of the libraries included as part of the astropy update.  I'll take a look at it this week and hopefully come up with a more detailed answer/solution.

[2021-04-06 18:24] jasercion commented on #102
Hi @paulray, would you mind trying out this build and letting me know if you see the same errors?

`conda install -c conda-forge -c fermi -c fermi/label/dev fermitools=2.0.13`

[2021-04-06 18:25] jasercion commented on #102
You may get some ROOT warnings printed on activation but I'm curious as to whether they are actually affecting the running of the software or if it is just complaining that a module that wasn't build can't be found.

[2021-05-06 19:46] donhorner commented on #102
Hi @paulray, have you had time to test that dev version of the tools?

[2021-05-06 20:13] paulray commented on #102
I just tried it. I wasn't sure what to do, so I activated the fermi2020 environment that I created before and ran the `conda install` command you mentioned. This left me with these versions:
[code]
I logged out and back in then did `conda activate fermi2010` and I still get the segfaults on activation.

[2021-05-10 17:22] jasercion commented on #102
Ok, thanks for testing that out.  I'll keep working on this and hopefully have an update for you soon.

[2021-05-11 14:24] astro-fermi opened #106 "Fermitools installation in SLAC SDF slurm batch system"
Hi,

I am trying to install the latest version of FermiTools in the slurm batch system of SLAC. They have centOS machines. I was using older python 2 version of FermiTools without any problem. I now tried the latest version using the following command

conda create -n fermi -c conda-forge -c fermi fermitools python=3

The installation was successful. However, when I tried to activate the environme

[2021-05-11 15:27] jasercion commented on #106
I think this may be related to issues we're seeing here: https://github.com/fermi-lat/Fermitools-conda/issues/102
I'll look into this and post once I have some updates.  Thanks for the report!

[2021-06-11 15:32] donhorner opened #107 "libCLHEP-2.4.4.1.so: cannot open shared object file error"
We have had a few reports of this emailed to helpdesk, so I'm opening an issue to track it.  This is basically the same problem as as in https://github.com/fermi-lat/Fermitools-conda/issues/101.  The dependency update in breaking new installs of the tools.

Until we get a release out that fixes this, run
`conda install -n fermi -c conda-forge clhep=2.4.4.1`
to install the proper version of clhep i

[2021-06-11 17:44] donhorner commented on #107
We have a dev version that fixes the problem.  It can be installed with:

`conda create -n fermi-2.0.18 -c conda-forge -c fermi -c fermi/label/dev fermitools=2.0.18`

[2021-06-29 19:38] jasercion commented on #102
Hi @paulray, would you mind trying this one more time using the following commands from the `(base)` environment?

`conda create --name fermitools-2.0.19 -c conda-forge -c fermi -c fermi/label/dev fermitools=2.0.19`
`conda activate fermitools-2.0.19`

And letting me know if you still see the activation error?  This latest build seemed to solve the problem that I was able to recreate on my machine

[2021-06-30 18:10] paulray commented on #102
Hi, I just tried that. It didn't go well.

[code]

[2021-07-06 18:51] jasercion commented on #102
What version of conda are you using, @paulray?

[2021-07-17 17:23] Ashwani-88 opened #108 "/bin/sh time command not found"
Hi,
I am getting the following error when I run Fermi sciencetool likelihood analysis using python on cluster via submitting job on SLURM ( a job scheduler).

"/bin/sh time command not found"

However, when I submit a job for fermipy analysis everything works fine.
Also when I run Fermi sciencetool analysis in terminal on cluster it runs without any error.

[2021-07-18 11:14] Areustle commented on #108
It may be that your cluster doesn't have this standard Unix utility on all it's nodes. Time is often also provided by the shell, if you have no source providing it I _expect_ you can install it in your fermitools conda environment by installing it from conda-forge:

conda install -n fermi -c conda-forge time

Assuming your environment is named 'fermi'

[2021-07-18 14:10] Ashwani-88 commented on #108
Dear Alex,
It is working now.
Thanks for your help.

Regards,
Ashwani Pandey

Post-doctoral Fellow
Indian Institute of Astrophysics (IIA),
II Block, Koramangala,
Bengaluru 560 034, India
Email: ***@***.***, ***@***.***
Mobile: +91-9808530721
Webpage: http://www.iiap.res.in/people/personnel/ashwani.pandey

On Sun, Jul 18, 2021 at 4:44 PM Alex Reustle ***@***.***>
wrote:

[2021-07-18 15:00] #108 closed

[2021-07-19 17:44] Ashwani-88 opened #109 "Increase like.fit process"
Hi,
I am analysing Fermi LAT 10 years data of a source using fermi sciencetools in a cluster as a serial job.
1) Is there any way of speeding up the like.fit process?
As model fitting took more than a day and it is still working.
2) Can using a node with multiple cores  increase the process?
3) what is the use of like.optimize?
Thanks in advance!!!

[2021-07-20 18:21] nmirabal commented on #109
There is no way to skip the fitting process. More computing power will certainly help. Optimize is just another step in the fitting process. One suggestion is to go through a two-step fitting like the one described in the "Run the Likelihood Analysis" subsection in the following link
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/extended/extended.html

[2021-07-21 03:00] Ashwani-88 commented on #109
Thank you for your response and suggestion.
I have one more query.
Can I fit a long timescale data (over a year timescale) using a binned likelihood and use the same best-fitted model file to generate light curves with one day binning but using unbinned likelihood analysis?

[2021-07-22 17:00] nmirabal commented on #109
Please take a look at the like_lc.pl  script for some guidance on time series.
https://fermi.gsfc.nasa.gov/ssc/data/analysis/user/

[2021-07-22 17:42] Ashwani-88 commented on #109
Thanks!!

[2021-07-22 17:42] #109 closed

[2021-08-02 17:04] jasercion commented on #102
Hi @paulray, any update on this?

[2021-08-02 17:07] paulray commented on #102
Ooops, sorry I missed that question:
conda 4.10.2

[2021-08-02 17:38] paulray commented on #102
I just did `conda update conda` and now have conda 4.10.3

I removed the old fermitool env and re-installed 2.0.19. Still same segfaut.

[2021-08-04 03:52] Areustle commented on #102
Examining the stack trace there it appears you have contamination from another conda environment named `fermi`

[code]

I expect that it's that other `fermi` environment which you have activated that is causing this problem. Please fully `conda deactivate` all of the other environments before you `conda activate fermitools-2.0.19`.

[2021-08-30 07:50] Ashwani-88 opened #110 "Use of like.optimize"
Hi,
I just started fermi data analisis.
In the fermi data analisis page the use of like.optimize is not given.
Could you tell for what purpose and at what step we should use like.optimize?
Can I use it before the first fit ?

Thanks!!

Ashwani

[2021-08-31 17:40] nmirabal commented on #110
like.optimize() performs an automatic optimization of the ROI. It is not always required, but it should be used before running like.fit(). It can be included as an extra step just by typing a line like.optimize() before like.fit(..) in the following tutorial

https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/python_tutorial.html

[2021-09-10 02:13] BrunoArsioli opened #111 "Fermitools installation taking far too long"
Hi, I've tried to install fermitools in a MacOS 11.5.2, following instructions from [fermi-wiki](https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions). I started by installing Miniconda (Miniconda3 MacOSX 64-bit pkg) and then, with zsh shell:

conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1

A series of packages were downloaded, and then I go

[2021-09-10 15:07] donhorner commented on #111
There certainly seems to be something wrong if it's taking that long.  You can look at the [troubleshooting suggestions](https://github.com/fermi-lat/Fermitools-conda/wiki/Troubleshooting#installation-issues), but I think the one that I would suggest is installing mamba, which is reimplementation of the conda package manager in C++ and is generally faster at resolving the dependencies. You can ins

[2021-09-10 23:02] BrunoArsioli commented on #111
I just installed mamba, and tried:

mamba create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1

I got :

WARNING: A conda environment already exists at '/Users/bs/opt/miniconda3/envs/fermi'
Remove existing environment (y/[n])? y

so, I removed envs/fermi (from the previous trial with conda create -n fermi ... )

The installation moved on, downloading some extra packages,
and a

[2021-09-11 15:59] BrunoArsioli commented on #111
After removing Miniconda and installing [Anaconda](https://www.anaconda.com/products/individual),  does not helped to solve the issue. After running for long time:

conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1

hitting ctrl+c some few times, showed this error message (before interrupting the process):
ERROR conda.core.link:_execute(699): An error occurred while i

[2021-09-13 07:46] ShabnamIyyani opened #112 "Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source."
Hi
I have been trying to install the Fermi science tools using conda after my upgrade of MacOS to Big Sur.  I followed the command line that was given in the website.

shabnam$ conda create --name fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1
Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry

[2021-09-13 18:53] donhorner commented on #112
Can you post the output of the 'uname -v' command?  Also, did the tools work before when the machine was Catalina?

We've had another installation problem report from a user with an x86 mac running Big Sur.  I'm wondering is the problem is limited to those type of machines. We haven't been able to  replicate the problem on a Catalina x86 mac and an M1 Big Sur mac.  We're trying to find an x86 mac

[2021-09-14 03:41] ShabnamIyyani commented on #112
For the command 'uname -v', I get the following
Darwin Kernel Version 20.6.0: Wed Jun 23 00:26:31 PDT 2021; root:xnu-7195.141.2~5/RELEASE_X86_64

Earlier, I was using MacOS Mojave. I did not work in Catalina.

[2021-09-14 22:46] BrunoArsioli commented on #111
Hi @donhorner , thank you for the attention. I tried that, but it didn't work. It is the same issue: never ending "Executing transaction: / "

I also tried to update to MacOS BigSur 11.6, then:

conda update --all

conda update mamba

conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1

# or, for the dev version:

conda create -n fermi-2.0.24 -c conda-forge -c fermi/lab

[2021-09-14 23:18] BrunoArsioli commented on #112
Hi @ShabnamIyyani, @jasercion, @donhorner. Do you think this is connected to #111?

[2021-09-16 14:59] Areustle commented on #111
Hi @BrunoArsioli . I am unsure what the cause of your conda/mamba install issue is, but since it seems to be related to your system's ability to resolve a suitable environment, @donhorner has generated an explicit one for you. I would like you to install this spec using the `--file` flag of `conda create`, which you can read about more by running `conda create --help`. Attached is a text file list

[2021-09-16 15:18] donhorner commented on #112
@ShabnamIyyani Sorry, I didn't get back to you the other day.  Can you try installing and using the mamba installer as we suggest in the [troubleshooting suggestions](https://github.com/fermi-lat/Fermitools-conda/wiki/Troubleshooting#installation-issues)?   It's reimplementation of the conda package manager in C++ and is generally faster at resolving the dependencies.  It took ~10 minutes for cond

[2021-09-17 00:00] BrunoArsioli commented on #111
I just notice now that when I tried ``conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1`` , I get:

Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: -

similar to #112 .

after some

[2021-09-17 00:01] BrunoArsioli commented on #111
Hi @Areustle, thank you for writing. I tried as you said (using ``conda create -n fermi --file xxxx/spec-file.txt``)  but the issue remains the same: Stuck at "Executing transaction: \" .  (for >1h )

When I hit ctrl+c, I get the same error msg as before:

Executing transaction: - \ | - - done
ERROR conda.core.link:_execute(699): An error occurred while installing package 'conda-forge::gdk-pixbuf-

[2021-09-17 00:16] BrunoArsioli commented on #111
Also, I tried to ``conda create -n foo -c conda-forge gdk-pixbuf=2.42.6=h2e6141f_0`` , then ``conda activate foo`` , and ``conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1`` ; I did that, trying to get through the gdk-pixbuf-2.42.6-h2e6141f_0  install.  But still, the process gets stuck at Executing transaction: - \ , and when I stop it with ctrl+c, the error is stil

[2021-09-17 11:13] ShabnamIyyani commented on #112
@donhorner  Using mamba for installation did not work as the execution was taking a very long time and was not done. Later, I tried the second method that was suggested. The installation was done using the spec-file.txt. However, after activating fermi, when I tried to open gtburst, I got the following error

Traceback (most recent call last):
  File "/Users/shabnam/miniconda3/envs/fermi/lib/pytho

[2021-09-17 12:26] BrunoArsioli commented on #111
Trying something different:

now, created fermi env folder by hand:

``mkdir /opt/anaconda3/envs/fermi``

then, preinstall gdk-pixbuf-2.42.6-h2e6141f_0 pack (from conda-forge channel) at envs/fermi.

``conda install gdk-pixbuf=2.42.6=h2e6141f_0 -c conda-forge -n fermi``

remove gdk-pixbuf-2.42.6-h2e6141f_0 from spec-file.txt

then, use install instead of create (since env/fermi is already there).

[2021-09-17 14:44] donhorner commented on #112
I've seen this before, but I'm not sure why it occurs.  Maybe @jasercion has some insight?  However, you should be able to fix it by editing the file `/Users/shabnam/miniconda3/envs/fermi/lib/tcl8.6/init.tcl` and changing the line `package require -exact Tcl 8.6.11` to version 8.6.6.  You could also just comment out the line completely.  You'll also have to do the same with the file `/Users/shabna

[2021-09-17 15:30] Areustle commented on #111
That is concerning. It suggests you may have a deeper problem with your miniconda installation. The --file method doesn't (or isn't supposed to) do any environment solving.

I wonder if you're running out of storage on your mac? Or running out just in one critical partition? That might explain why the transactions can't complete, but it's total speculation. Check that by running `df -h`. Pay speci

[2021-09-17 16:23] BrunoArsioli commented on #111
Hi @Areustle, thank you for writing. I will try to debug as you say.
About the storage, there is still ~60Gb free in my disk. ``df -h`` shows:
Filesystem       Size   Used  Avail Capacity iused      ifree %iused  Mounted on
/dev/disk1s5s1  466Gi   14Gi   32Gi    31%  553788 4882923132    0%   /
devfs           190Ki  190Ki    0Bi   100%     658          0  100%   /dev
/dev/disk1s4    466Gi  1.0Gi

[2021-09-17 17:43] BrunoArsioli commented on #111
About the Miniconda installation, I've done the full Anaconda installation, and the issue remains the same.

[2021-09-22 18:20] Areustle commented on #111
Do you have any more information from your debug output @BrunoArsioli ?

[2021-09-22 21:12] BrunoArsioli commented on #111
Yes. I just clean conda cache ``sudo conda clean --all`` , and then removed conda completely with ``sudo rm -rf /op/anaconda3``following [uninstall-anaconda](https://docs.anaconda.com/anaconda/install/uninstall/); and removed conda initializer lines from my home ~./bash_profile. Rebot. Installed Anaconda full version for mac, from [here](https://docs.anaconda.com/anaconda/install/mac-os/). Install

[2021-09-22 21:27] BrunoArsioli commented on #111
Then, another trial: I clean the cache ``sudo conda clean --all``, and remove fermi env ``rm -rf /Users/xxxxx/opt/anaconda3/envs/fermi``. Rebot. One of the messages I saw through the -vvv comments was a suggestion to update conda using ``conda update -n base -c defaults conda`` , so, I just did that now. Implementing the following: conda  4.10.1-py38hecd8cb5_1 --> 4.10.3-py38hecd8cb5_0   and   xml

[2021-10-12 14:31] Ashwani-88 opened #113 "Error: Invalid IRF name: P8R3_SOURCE_V3"
Hi,
I am trying to follow the steps for binned likelihood data analysis given at
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/binned_likelihood_tutorial.html
but at the Compute all sky exposure map, I am getting the following error.
**Caught St13runtime_error at the top level: Invalid IRF name: P8R3_SOURCE_V3**
I have iso_P8R3_SOURCE_V3_v1.txt file in my working directory.

Thanks in adv

[2021-11-04 19:54] janvalqui opened #114 "Broken MINUIT link in gtlike documentation"
I am searching for MINUIT documentation, but I see that I don't have permission to access the MINUIT webpage cited in the [gtlike documentation](https://raw.githubusercontent.com/fermi-lat/fermitools-fhelp/master/gtlike.txt). It would seem that the MINUIT link is broken on the CERN side.

[2021-11-04 20:21] donhorner commented on #114
Thanks for pointing that out.  It looks like CERN is really burying the original MINUIT.  I think I'll change the URL to the MINUIT page for the ROOT library (https://root.cern.ch/doc/master/group__MinuitOld.html) which is how the Fermitools gets MINUIT anyway or the PDF document that still seems to be available. (https://root.cern.ch/download/minuit.pdf).

[2021-11-05 00:08] janvalqui commented on #114
Thanks very much, Don!

[2021-11-05 00:08] #114 closed

[2021-12-21 12:14] parth161 opened #116 "Error while activating fermi in Mac OS terminal(Mac OS Monterey 12.1)."
I am trying to activate fermi using command `Conda activate fermi` after that its showing following message. How do I resolve following errors...

`input_line_1:1:2: **error**: module 'Darwin' uses additional module map
      '/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/mach_machine.modulemap'
      used when the module was built
#include <new>
 ^
input_line_1:1:2: note: import

[2022-01-03 04:04] #112 closed

[2022-01-04 21:23] adonath commented on #116
I also get the exact same error:
[code]
Here is the output of `conda info`:
[code]
However the environment and tools I tried seem to work after.

[2022-01-10 22:03] donhorner commented on #116
Sorry, no one has gotten back to you yet. This seems to be a problem with the ROOT package and the latest version of Xcode.  You can find similar error reports on the [ROOT forum](https://root-forum.cern.ch/t/problem-with-root-on-macos-error-module-darwin-uses-additional-module-map/47443).  We're working on updating the Fermitools to fix this issue.

You can get rid of the errors by downgrading Xc

[2022-01-10 22:05] #113 closed

[2022-01-10 22:07] #110 closed

[2022-01-23 05:45] BrunoArsioli commented on #111
Found a fix. Now with Mac Bigsur 11.6.2

First, I downgraded Xcode to 13.0 , following #116

Then, reading:
[link1](https://exerror.com/solving-environment-failed-with-initial-frozen-solve-retrying-with-flexible-solve/)

[link2](https://programmerah.com/solve-condas-solving-environment-failed-problem-4018/)

[link3-check comment from "glass-ships"](https://github.com/conda/conda/issues/9004)

[lin

[2022-01-23 16:41] kerrm commented on #111
Wow, nice detective work!

On Sun, 23 Jan 2022 at 00:45, Bruno Arsioli ***@***.***>
wrote:

[2022-01-24 10:56] ShabnamIyyani opened #117 "Not able to load gtburst"
###### I have installed the fermi science tools within the environment of threeML. In this environment when I try to open the gtburst, I get the following error:
Loading pyBurstAnalysisGUI v. 03-00-00p0
WARNING: version mismatch between CFITSIO header (v3.47) and linked library (v3.46).

....... done
Traceback (most recent call last):
  File "/Users/shabnamiyyani/opt/miniconda3/envs/threeML/lib/py

[2022-01-24 16:38] donhorner commented on #117
The workaround is to edit the /Users/shabnamiyyani/opt/miniconda3/envs/threeML/lib/tk8.6/tk.tcl file to change the version number it requires to the one you have or just comment out the line entirely so it won't check.  The version of Tk doesn't really seem to matter to the tools.  When you run gtburst again, you'll probably get similar error about the Tcl version and can do the same thing to the

[2022-01-25 04:49] ShabnamIyyani commented on #117
After commenting those lines, I do not get that error again. Now, while typing the gtburst command, Xquartz is activated and the window just blinks but I am not able to see the window. Also, no error appears in the terminal.

[2022-01-25 16:43] donhorner commented on #117
Sometimes the gtburst window is automatically minimized when it launches.  You might want to check your task bar or dock (depending on your operating system) to see if it's there.

[2022-02-14 11:03] emmaow commented on #116
Hi, I am trying to install the fermitooks in mac os v12.1 and have exactly the same problem. I am using /usr/bin/xcodebuild -version:
Xcode 13.0
Build version 13A233

Is there any other work around I can try? thanks!

Here my output of conda info:

     active environment : fermi
    active env location : /opt/anaconda3/envs/fermi
            shell level : 1
       user config file : /Users/emmita

[2022-02-14 19:57] emmaow commented on #116
Problem solved: I installed version 13.0 but used xcode-select --install which installed 13.2 for the command line tools. In case it is useful for someone else, using this: [https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_for_Xcode_13/Command_Line_Tools_for_Xcode_13.dmg 241](https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_for_Xcode_13/Command_Line_To

[2022-05-03 05:33] ajaykhoj opened #119 "Regarding the installation"
Hi,

I am trying to install fermitools in Ubuntu 22.04 OS , bu t when i run the command "" conda create -n fermi -c conda-forge -c fermi fermitools python=3 clhep=2.4.4.1"" terminal shuts down. I tried many times but getting same problem. How can i resolve this problem and install it correctly.

Best Regards
Ajay

[2022-05-10 13:52] Knuffles opened #120 "Core dump from gtsrcmaps on fermitools 2.0.8"
Hello,
I encounter a problem on the gtsrcmap part of the setup, with fermitools 2.0.8 and Fermipy 1.0.1

I get the error message :

(fermipyib) -bash-4.2$ gtsrcmaps scfile=../lat_spacecraft_merged.fits sctable="SC_DATA" expcube=/home/ibrossard/analysis/4FGL_J2330.5-2445/4FGL_J2330.5-2445_ltcube_105.fits cmap=/home/ibrossard/analysis/4FGL_J2330.5-2445/ccube_07.fits srcmdl=/home/ibrossard/analysis/4

[2022-05-10 17:27] nmirabal commented on #120
Can you remove SOURCE_ANN from the xml file and rerun gtsrcmaps again?. It might be a XML formatting issue.

[2022-05-11 07:32] Knuffles commented on #120
I will try this, but won't that remove SOURCE_ANN from the analysis ?
I generate this source which has a different spectrum to compare with another (here 4FGL J2330.5-2445) and see if the likelihood of the model improves.

[2022-05-11 07:56] Knuffles commented on #120
By the way, I introduce this theoretical source in the config.yaml file, like so:

model:
  src_roiwidth : 28.28
  galdiff : "$FERMI_DIFFUSE/gll_iem_v07.fits"
  catalogs : ["4FGL-DR3"]
  sources :
    - { name: "SOURCE_ANN", ra : 352.6484069824219, dec : -24.75429916381836, SpectrumType : FileFunction, Spectrum_Filename : "../backenstossSpectrum.txt", SpatialModel : "PointSource" }

just in case,

[2022-05-11 12:42] Knuffles commented on #120
The srcmap does generate when removing SOURCE_ANN, but then how can I implement this source in a way that doesn't cause an error ?

[2022-05-12 18:38] nmirabal commented on #120
I suspect this might have to do with the format of backenstossSpectrum.txt . Check that the file is properly formatted. Maybe start with one or two lines in the file to try to trace the error. Also you might want to change to
name: 'SOURCE_ANN'
SpectrumType : 'FileFunction'
Spectrum_Filename : '../backenstossSpectrum.txt'
SpatialModel : 'PointSource'

[2022-05-19 12:09] Knuffles commented on #120
Hello again, sorry for the delay.
I checked the format of the file, and tried to change the description of the source in the config file, but I still got the same problem.
I was wondering, since this source is used to check if the likelihood of the model would be better with it instead of the original source (with a power law spectrum), can't I just generate the source maps with the original sourc

[2022-05-20 14:28] nmirabal commented on #120
You can certainly introduce any source that follows one of  supported Fermitools spectral models
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/source_models.html

There is a notebook (slightly outdated in diffuse models) using Draco that might be a useful guide
https://nbviewer.org/github/fermiPy/fermipy-extra/blob/master/notebooks/draco.ipynb

[2022-05-23 09:47] Knuffles commented on #120
Yes, but the source I want to introduce has a spectral model which is not included in the fermitools. Is there a guide regarding the inclusion of a source with spectral type FileFunction ?

[2022-05-23 19:48] nmirabal commented on #120
Can you try the following files in your system (you have to modify according to your local system)?. These seem to work for me while including a test source. File inputspectrum.txt should have the proper input file configuration (energy (MeV) and differential flux columns).

[config.txt](https://github.com/fermi-lat/Fermitools-conda/files/8757639/config.txt)

[inputspectrum.txt](https://github.com

[2022-05-23 20:31] donhorner commented on #102
Hi @paulray, we haven't gotten a new release of the Fermitools out in long time due to various problems which we mostly solved by removing ROOT.  We also bumped the astropy version up to 5.  If you'd like to test it, you can install the 2.1.30 dev version with
`conda create -n fermitools-2.1.30 -c conda-forge -c fermi/label/dev fermitools=2.1.30 -y`
It should also install much faster than the curr

[2022-05-23 20:33] #117 closed

[2022-05-23 20:34] donhorner commented on #119
I'm sorry no one got back to you @ajaykhoj.  Is this still a problem?

[2022-05-23 20:37] donhorner commented on #116
We have a development version of the Fermitools that we hope to release soon that should permanently fix this problem because we removed ROOT altogether.  If you like to test it, you can install the dev version with the command:
`conda create -n fermitools-2.1.30 -c conda-forge -c fermi/label/dev fermitools=2.1.30 `
It should also install much faster.

[2022-05-23 20:40] donhorner commented on #111
We have a development version of the Fermitools that we hope to release soon that should fix most installation problems because we removed the ROOT package, which was the source of many of these issues. If you like to test it, you can install the dev version with the command:
`conda create -n fermitools-2.1.30 -c conda-forge -c fermi/label/dev fermitools=2.1.30`

[2022-05-23 20:41] donhorner commented on #107
We have a development version of the Fermitools that we hope to release soon that should fix most installation problems because we removed the ROOT package, which was the source of many of these issues. If you like to test it, you can install the dev version with the command:
conda create -n fermitools-2.1.30 -c conda-forge -c fermi/label/dev fermitools=2.1.30

[2022-05-23 20:43] donhorner commented on #106
We have a development version of the Fermitools that we hope to release soon that should fix most installation problems because we removed the ROOT package, which was the source of many of these issues. If you like to test it, you can install the dev version with the command:
`conda create -n fermitools-2.1.30 -c conda-forge -c fermi/label/dev fermitools=2.1.30`

[2022-05-24 06:38] ajaykhoj commented on #119
Hi@donhorner,

I have installed fermitools in my machine successfully.

[2022-05-24 13:55] #119 closed

[2022-05-30 10:42] emmaow commented on #116
Thanks! had to link libgsl.25.dylib:
ln -s /opt/anaconda3/pkgs/gsl-2.6-h71c5fe9_2/lib/libgsl.25.dylib  /opt/anaconda3/envs/fermitools-2.1.30/lib/
to use it with fermipy, but otherwise it works

[2022-06-13 21:06] jasercion commented on #107
Have we confirmed this fix?

[2022-06-14 13:59] Areustle commented on #107
Yes.

[2022-06-22 15:36] donhorner commented on #111
Fermitools 2.2.0 has been released which fixes this issue.

[2022-06-22 15:36] #111 closed

[2022-06-22 15:47] #99 closed

[2022-06-22 15:47] #120 closed

[2022-06-22 18:29] #42 closed

[2022-06-22 18:29] #39 closed

[2022-06-22 20:20] #104 closed

[2022-06-22 20:20] #106 closed

[2022-06-22 20:21] #116 closed

[2022-06-30 08:39] landriu opened #122 "Trying to install fermitools when using mamba"
Hi all,

   I would like to install fermi-2.2.0 using mamba, with the goal to install fermipy afterwards,
 with following command :

    **mamba create --name fermi-2.2.0-mamba -c conda-forge -c fermi python=3.9 fermitools=2.2.0**

but after  the installation was completed, I did not get a working environment :

[landriu@sappcfermi] ~ > conda activate fermi-2.2.0-mamba
You have LD_LIBRARY_PATH set

[2022-06-30 11:42] Areustle commented on #122
Hey David, I suspect your pre-set LD_LIBRARY_PATH or PYTHONPATH is causing your issue.

[code]

The [GSL version 2.7 package on conda](https://anaconda.org/conda-forge/gsl/files) provides the library libgsl.25.{dylib,so}.

[code]

Which is linked against by libLikelihood
[code]

Thus your linking problem doesn't lie with gsl or the fermitools, but with your environment. If python can't find a libg

[2022-06-30 13:57] donhorner commented on #122
Can you reinstall Fermitools 2.2.0 but add the “--override-channels” option as described here:
https://docs.conda.io/projects/conda/en/latest/user-guide/concepts/channels.html#specifying-channels-when-installing-packages

That has helped in the past.  The other thing that has fixed similar issues in reinstalling conda.

[2022-06-30 13:59] Areustle commented on #122
I think I see what the issue is: Your GSL is from Anaconda, not conda-forge.

Mamba got you `gsl 2.7.1 h917eeb2_1`, from https://anaconda.org/anaconda/gsl/files, as opposed to `gsl 2.7 he838d99_0` from https://anaconda.org/conda-forge/gsl/files (looks like you were one of only 7 people to download that tarball, including me!).

You can confirm this by checking for the library `find $CONDA_PREFIX -

[2022-06-30 15:14] landriu commented on #122
Hi,

   thanks to you both for these indications :

find $CONDA_PREFIX -name "libgsl*" gives :

***@***.*** ~ > find $CONDA_PREFIX -name "libgsl*"
/dsm/manip/glast/anaconda3/envs/fermi-2.0.18/lib/libgslcblas.so.0.0.0
/dsm/manip/glast/anaconda3/envs/fermi-2.0.18/lib/libgslcblas.so
/dsm/manip/glast/anaconda3/envs/fermi-2.0.18/lib/libgsl.so
/dsm/manip/glast/anaconda3/envs/fermi-2.0.18/lib/libgsl.a
/d

[2022-06-30 15:17] Areustle commented on #122
Activate your `fermi-2.2.0-mamba` environment before running the find command, or alternatively run it as
`find /dsm/manip/glast/anaconda3/envs/fermi-2.2.0-mamba/lib -name "libgsl*"`

[2022-07-01 08:24] landriu commented on #122
Hi Alex and Don,

   I re-created fermi-2.2.0-mamba using the command :
mamba create --name fermi-2.2.0-mamba -c conda-forge -c fermi python=3.9 fermitools=2.2.0 --override-channels

and could have this time :

   import Unbinned

  without errors.

 For info, I could go further in fermipy installation doing then :
mamba install  -c conda-forge -c fermi healpy gammapy
and
pip install fermipy

Than

[2022-07-01 08:24] #122 closed

[2022-08-16 14:02] Pfesi opened #124 "Getting "TypeError: Object of type int64 is not JSON serializable" when generating light curve"
I've been trying to generate longterm lightcurves using fermipy 1.1.4 and have been getting the TypeError: Object of type int64 is not JSON serializable error. I'm running the analysis on a linux server using fermitools 2.2.0. The following output is part of the output I get at the end

2022-08-16 13:41:22 INFO    lightcurve_544376617_546795817 GTBinnedAnalysis.write_xml(): Writing /data/pfesi_sof

[2022-08-16 14:10] #124 closed, assigned to nobody

[2022-08-25 10:58] sunanda15 opened #125 "CFITSIO ERROR 108: error reading from FITS file"
I am getting the following error in gtdiffsp. Kindly suggest something to resolve this issue.
# ************************************************************
# ***   4  gtdiffrsp --- Compute Diffuse response
# ************************************************************
time -p gtdiffrsp evfile=/home/sunanda/mkn421/Enrico/enrico/Txs123/TXS0506+056_test_FRONTBACK_MkTime.fits evtable="EVENTS" scfile=

[2022-08-25 17:25] nmirabal commented on #125
Are you running the Enrico software?. This seems connected to the Galactic emission model file that is supposed to be in
/home/sunanda/mkn421/Enrico/enrico/Data/diffuse/gll_iem_v07.fits

Is the file in that location?, does it have the proper read permissions?.

[2022-08-25 18:05] sunanda15 commented on #125
Yes, I am running the Enrico software. I checked the file location.
time -p gtdiffrsp evfile=/home/sunanda/mkn421/Enrico/enrico/TXS0506+056/TXS0506+056_mytest_FRONTBACK_MkTime.fits evtable="EVENTS" scfile=/home/sunanda/mkn421/Enrico/enrico/TXS0506+056/L220825025405426FC86178_SC00.fits sctable="SC_DATA" srcmdl=/home/sunanda/mkn421/Enrico/enrico/TXS0506+056/TXS0506+056_PowerLaw2_model.xml irfs="P8R3

[2022-08-25 18:11] nmirabal commented on #125
Unfortunately, the FSSC does not provide direct support to enrico software. We would recommend using the FSSC analysis threads listed here https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/. The proper place for Enrico issues appears to be the following https://github.com/gammapy/enrico/issues

[2022-08-25 18:11] #125 closed

[2022-08-25 18:19] donhorner commented on #125
The only other thing I would suggest is checking that the IEM file is not corrupted.  If you run md5sum on it, you should get the same checksum as this:
[code]

[2022-08-25 19:57] nmirabal commented on #125
Diffuse responses are only needed for unbinned analysis. Another way to test would be to run the following analysis thread
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/likelihood_tutorial.html

Weekly LAT files with precomputed diffuse responses can also be downloaded in the following link
https://heasarc.gsfc.nasa.gov/FTP/fermi/data/lat/weekly/diffuse/

[2022-08-27 10:48] sunanda15 commented on #125
Thank you so much for your reply. In my case, the IEM file was corrupted.
Now, It is working fine.

On Fri, Aug 26, 2022 at 1:27 AM nmirabal ***@***.***> wrote:

[2022-08-27 11:48] Jisans opened #126 "Installation issue"
Hello all,

I use `conda create -n fermi -c conda-forge -c fermi fermitools python=3` success  Installation fermitools

When `You have LD_LIBRARY_PATH set. This might interfere with the correct functioning of conda and the Fermitools.`
`You have PYTHONPATH set. This might interfere with the correct functioning of conda and the Fermitools. `appears after I use conda to activate the environment, how

[2022-08-29 07:03] Jisans opened #127 "Error installing threeml, fermitools, fermipy using conda"
Hell all,
I am trying to install fermitools, fermipy and threeml in the same environment using conda. I created a virtual environment using conda create -- name fermi3ML - c conda forge - c fermi - c threeml. I continue to use conda install - c conda forge - c xspecmodels xspec models only, conda install - c conda forge - c threeml - c fermi threeml fermipy fermitools.It is strange that I can use

[2022-08-29 12:27] Areustle commented on #127
We cannot help you with threeml errors, nor with jupyterlab errors. Please contact the support team of threeml for assistance.

[2022-08-29 12:41] Jisans commented on #127
Hello, sir, I found a common problem. I remember that I ran from fermipy in jupyter lab Gtanalysis import gtanalysis, the same situation will occur
[/fermiPy/fermipy/issues/487](url)

[2022-08-29 12:46] Areustle commented on #127
Fermipy is a separate, community project.

Please communicate issues you encounter with fermipy to https://github.com/fermiPy
Rather than the official fermitools issue tracker.

[2022-08-29 12:56] Jisans commented on #127
@Areustle
 Sir, There is the same problem here,

[Notebooks kernel died ! #487](https://github.com/fermiPy/fermipy/issues/487)
[Module installation #476](https://github.com/fermiPy/fermipy/issues/476)

[2022-08-29 17:54] nmirabal commented on #127
Closing. This has been posted in fermipy issues
https://github.com/fermiPy/fermipy/issues/498

[2022-08-29 17:54] #127 closed

[2022-08-29 19:54] donhorner commented on #127
I think the only issue that might be related to the Fermitools here is that you have to run the `conda install nb_conda` to use Jupyter notebooks with the tools (see [Additional Software](https://github.com/fermi-lat/Fermitools-conda/wiki/Installation-Instructions#additional-software) section). Otherwise, the notebook might be pick up a different python installation.

The Fermitools+fermipy+3ML co

[2022-08-30 05:41] Jisans commented on #127
@donhorner  I'll try. If I make a mistake, I'll ask you again. Thank you!

[2022-08-30 20:00] donhorner commented on #126
Those are just warnings.  If you encounter any problems,  you might want to unset them.  That usually only occurs if something else has conflicting libraries installed, and one of those paths is putting the wrong version first from the Fermitools perspective. You might later see a warning about different CFITSIO versions, but that is also not a problem.  It's just because a dependency like astropy

[2022-08-30 20:00] #126 closed

[2022-08-31 17:31] Areustle commented on #13
This issue is resolved with the new fermitools 2.2.0 version.

[2022-08-31 17:31] #13 closed

[2022-09-02 07:22] Jisans opened #128 "."

[2022-09-02 07:23] #128 closed

[2022-09-10 13:18] Jisans opened #129 "Getting started fermitools"
Hello all! How to quickly get started with `fermitools` and `fermipy` to analyze Fermi LAT data?

[2022-09-13 18:18] nmirabal commented on #129
Please check out the analysis threads for the Fermitools
https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/

You can also browse the fermipy notebooks in the following link
https://nbviewer.org/github/fermiPy/fermipy-extra/blob/master/notebooks/index.ipynb

[2022-09-13 18:18] #129 closed

[2022-09-16 18:05] PepeJoseHU opened #130 "Help of Installation failure"
Hello, I want to install fermitools with conda
using : conda install fermitools / conda install -c conda-forge fermitools
But they both failed with an error:

Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundErro

[2022-09-16 18:34] PepeJoseHU commented on #130
And I try to search it with 'conda search -f fermi'
But the result just have packages:
fermipy                        1.0.1  py39hef51801_1  conda-forge
forestopenfermion              0.0.6    pyhd8ed1ab_1  conda-forge
ifermi                         0.3.0    pyhd8ed1ab_0  conda-forge
openfermion                    1.5.1    pyhd8ed1ab_0  conda-forge
openfermionpsi4                  0.5    pyhd8ed1a

[2022-09-16 18:47] donhorner commented on #130
Installation instruction are available on the [Fermitools wiki](https://github.com/fermi-lat/Fermitools-conda/wiki).

[2022-09-16 18:47] #130 closed

[2022-09-16 19:21] PepeJoseHU commented on #130
Dear donhorner,

Do you have any suggestions? I tried with ' conda install -c fermi fermitools=2.2.0' ' conda install -c fermi fermitools=2.1.0' ' conda install -c fermi fermitools=2.0.0' both failed. I have no idea how to install fermitools in my enviroment.

Thanks!

[2022-09-16 19:30] donhorner commented on #130
Have you tried the install command given in the documentation?  You should be creating a separate environment for the Fermitools.

[2022-09-16 20:34] PepeJoseHU commented on #130
Dear donhorner,

I want to install it in an exist environment, is that possible? Or if there have ways for that? That is the reason I used a specified version of fermitools

Thanks!

[2022-09-18 16:30] PepeJoseHU commented on #130
THANKS， i give up.
A new environment is built and it installed already with python 3.9.
Thanks again.

[2022-09-19 13:03] nmirabal commented on #130
If you want to keep the environment name next time, it is best to probably best to remove the environment first with 'conda env remove -n ENV_NAME' and redo the installation using the same name.

[2022-09-19 13:27] PepeJoseHU commented on #130
@nmirabal,  Not keep the name, just keep these settings in the environment. If just a name, I can make a new environment with the same name.

[2022-09-23 07:32] Jisans opened #131 "Running the AnalysisThreads code reports an error"
hello all,
      code:
[code]
erro
[code]
**Note:**
ENV: conda env
system: ubuntu 20.04 LTS
python v3.9.13 fermitools v2.2.0, fermipy v1.1.6

[2022-09-23 14:06] donhorner commented on #131
ds9 is a FITS image viewer commonly used in astronomy. You can download it from [CFA](https://sites.google.com/cfa.harvard.edu/saoimageds9) or install it with package manager.  You can also look at the map with [fv](https://heasarc.gsfc.nasa.gov/docs/software/ftools/fv/fv.html) or really anything that can view FITS files.

[2022-09-25 05:12] grburgess opened #132 "Unable to create a Docker with Fermitools"
Hello,

I am trying to create a docker that contains fermitools. However, I keep getting a mamba solver issue. I've even tried a very basic build

[code]

I have tried various mamba/conda base images with no success. Is it possible that these images do not have some system tools need for fermitools and I should use a different bas image?

Thanks!

[2022-09-25 15:41] Areustle commented on #132
Have you tried the FermiBottle docker container?

https://github.com/fermi-lat/FermiBottle

[2022-09-25 16:38] grburgess commented on #132
I did see this. I was wanting make a slighty slimmer container and use some dev version of 3ML (and some other software)
I will see if I can just build on top of that for now.

[2022-09-25 20:05] Areustle commented on #132
FermiBottle is very large; it has a lot of extra tools for doing LAT and GBM analysis beyond just the Fermitools. Your desire to build a smaller container is a reasonable one. I suspect fermipy is causing your build issue. I don't think the conda package has been kept up to date. The pip package may work in its place, and pip now works nicely with modern mamba and conda versions. You can also crea

[2022-09-25 20:19] grburgess commented on #132
I'll keep at it. I tried the pop version as well but it's the fermitools that's causing the issue.

I hope this is not apple silicon related, but docker is running in an emulator.

[2022-09-27 16:40] ldivenere opened #133 "Using fermitools in jupyterhub"
I had troubles using a fermitools environment in jupyterhub.
The main issue was that the jupyter kernel linked to the conda environment was not correctly setting all the environment variables necessary to run the fermitools.
I managed to solve the issue with this procedure:

1. Activate conda environment in a jupyterhub shell:
`bash:~$ conda activate fermi`

2. Install kernel :
`bash:~$ python -m

[2022-09-27 16:42] ldivenere commented on #133
6. As an alternative, after step 1 you can run the script attached :
`bash:~$ ./setup_kernel_fermitools.sh <env_name> `
For example:
`bash:~$ ./setup_kernel_fermitools.sh fermi`

[setup_kernel_fermitools.txt](https://github.com/fermi-lat/Fermitools-conda/files/9658078/setup_kernel_fermitools.txt)

[2022-09-27 16:42] #133 closed

[2022-09-28 03:21] Jisans commented on #131
I'm sorry, I looked at the ds9 website you posted, and I didn't see ds9 installed with package management tools (for example, conda, pip, etc.)

[2022-09-28 10:01] Areustle commented on #131
https://installati.one/ubuntu/20.04/saods9/

[2022-09-28 10:54] Jisans commented on #131
Thanks!

[2022-09-30 13:27] Jisans commented on #131
Hello,
I get an error when I use the `fv` command in  `Jupyterlab` after installing `fv`, what's the matter?
[code]
I have no problem typing `fv` in the terminal:
![image](https://user-images.githubusercontent.com/110452095/193279848-e88adb69-8e91-4da4-9a99-47d4093014d3.png)

[2022-09-30 13:56] mfacorcoran commented on #131
Hi,

It may be that the HEADAS environment was not set before you started the jupyter server.  If that’s the case, quit the server, go to a terminal window and initialize HEASoft

% source $HEADAS/headas-init.sh

Then start the jupyter server in that terminal window.

Best regards

Mike Corcoran

****************************************************

Dr. Michael F. Corcoran

HEASARC

Goddard Space

[2022-09-30 14:14] Jisans commented on #131
@mfacorcoran There is no HEADAS environment installed in my system, because the installation will affect fertools, there will be two warnings,
[code]

[2022-10-01 13:06] Jisans commented on #131
Hello all, Today, after I reinstalled heasoft, I used it, but fv reported an error
[code]
Why would it report an error?

[2022-10-04 20:23] donhorner commented on #131
It's difficult to say exactly why you see that error.  It looks like there's an issue connecting to X-windows. Maybe the DISPLAY environment variable isn't set correctly?

To go back to the previous issues, HEASoft and the Fermitools usually work together without any problems.  The warnings are just given if those environment variable are set at all.

[2022-10-05 05:09] Jisans commented on #131
Yes, some basic settings are required when installing HEAsoft. However, these settings will cause warnings to pop up when entering the fermitools environment. I found that these warnings did not affect the work. In addition, I can now use FV, thank you for your help!

[2022-10-05 14:38] #131 closed

[2022-10-08 14:37] Jisans opened #134 "Installing fermitools and heasoft gives a warning"
Hello all, I found that when I install fermitools after installing HEAsoft, the following warning will appear,
[code]
How can I install heasoft with fermitools without warning！！！

[2022-10-08 16:46] grburgess commented on #134
I worked unset those environment variables.

[2022-10-09 04:02] Jisans commented on #134
How to cancel the setting? The setting of Heathoft's environment output has been cancelled, but it will still be automatically configured after make install. After I install fermitools, a warning will still appear,

[2022-10-09 05:26] grburgess commented on #134
https://www.man7.org/linux/man-pages/man1/export.1p.html

[2022-10-09 11:36] Jisans commented on #134
Thank you, but I didn't understand the blog document you sent me! Then I found some more solutions,
You can set environment variables when an environment is activated by editing the `activate.d/env_vars.sh` script. See here: https://conda.io/docs/user-guide/tasks/manage-environments.html#macos-and-linux
The key portions from that link are:
1.Locate the directory for the conda environment in your T

[2022-10-09 14:28] Jisans commented on #134
I'm sorry, but I read it wrong, and regarded set `LD_LIBRARY_PATH,PYTHONPATH` as unset `LD_LIBRARY_PATH,PYTHONPATH`

[2022-10-10 08:02] Jisans commented on #134
I already know that the reason for these two warnings is because I configured these two environments when I configured the environment variables when installing HEAsoft，The first configured environment variables are as follows:
[code]
[code]
In this way, the environment variables are automatically initialized, and heasoft will automatically configure these two environment variables, and replace th

[2022-10-11 08:25] sunanda15 commented on #125
Thank you, Don Horner, for your suggestion.

On Sat, Aug 27, 2022 at 4:18 PM Sunanda . (P19PH002) ***@***.***>
wrote:

[2022-10-11 17:18] Jisans commented on #134
I want to use Fermitools to analyze LAT GRB data, but I find that DS9 cannot be used after the Heathoft is initialized. I don't know what the problem is!

[2022-10-11 17:26] donhorner commented on #134
It looks like there is a known issue on Ubuntu with ds9 and HEAsoft : [https://heasarc.gsfc.nasa.gov/lheasoft/issues.html](https://heasarc.gsfc.nasa.gov/lheasoft/issues.html).

If the workarounds suggested there don't work, you should followup with the [FTOOLS helpdesk](https://heasarc.gsfc.nasa.gov/cgi-bin/ftoolshelp) since it isn't really a Fermitools issue.

[2022-10-13 03:06] Jisans commented on #134
The Ubuntu incompatibility issue with DS9 has been resolved, but both warnings have not been resolved, which is too difficult for me!

[2022-10-13 08:55] Jisans opened #135 "Error using gtburst"
Hello everyone, when I use the gtburst to download Fermi LAT data, I get an error.The specific gtburst.log file is as follows
[code]

**Note:**
OS: Linux DESKTOP-10UCA6U 5.15.68.1-microsoft-standard-WSL2 #1 SMP Mon Sep 19 19:14:52 UTC 2022 x86_64 GNU/Linux
Python V 3.9.13
pip V 22.2.2
Fermitools V 2.2.0
fermitools-data V 0.18

[2022-10-13 15:01] donhorner commented on #134
I'm glad you got the ds9 issue resolved.  You can ignore the warnings unless the Fermitools fail to run which would usually give you an error about missing or conflicting library which is when you would want to check LD_LIBRARY_PATH or PYTHONPATH for something that is causing that problem.

[2022-10-13 15:14] Jisans commented on #134
Sir, can you give me some advice to remove this warning?

[2022-10-13 15:17] kerrm commented on #134
A warning is not necessarily a problem.  If your software is running correctly, you can ignore it like Don says.

[2022-10-16 16:14] Jisans commented on #134
Thank you for your suggestions, but if I want to use HEASoft and Fermitools at the same time without printing these two warnings, how can I set them?

[2022-10-17 14:28] donhorner commented on #134
I don't think you can get rid of the warnings and use both and it's not worth the time to try.  Just go ahead with your analysis.

[2022-10-17 14:34] Jisans commented on #134
Haha, yes, now my Fermitools, fermipy and other libraries are running well, there is really no need to spend time to solve this! Thank you for giving me advice during your busy schedule.

[2022-10-17 15:13] #134 closed

[2022-10-18 18:46] omodei commented on #135
From your error log"/bin/sh: 1: time: not found"
It looks like you don't have the "time" shell command installed, which is very strange as I think it comes with every unix/linux distribution. time program can be installed as:
apt-get install time
All that said, are you sure your system's sh is pointing to bash?

[2022-10-19 02:46] Jisans commented on #135
Problem solved, thanks to all developers!

[2022-10-19 05:36] #135 closed

[2022-11-18 03:31] Liaomao123 opened #136 "gtburst not working"
Hello everyone, when I installed fermitools, it showed that the installation was successful, but when I used Gtburst, the following error occurred!

(fermi3ML) lm@LAPTOP-PGKLAI6C:~$ gtburst

Loading pyBurstAnalysisGUI v. 03-00-00p5 ....... done
Traceback (most recent call last):
  File "/home/lm/miniconda3/envs/fermi3ML/lib/python3.9/site-packages/fermitools/gtburst.py", line 137, in handle_except

[2022-11-19 05:23] Liaomao123 commented on #136
It's strange, when I set export DISPLAY=:0, it still doesn't work.

(base) lm@LAPTOP-PGKLAI6C:~$ fv
application-specific initialization failed: couldn't connect to display ":0"
Error in startup script: couldn't connect to display ":0"
    while executing
"load /home/lm/workdir/heasoft/tcltk/x86_64-pc-linux-gnu-libc2.31/lib/libtk8.6.so Tk"
    ("package ifneeded Tk 8.6.11" script)
    invoked from